[2015-11-19 07:42] damienbod opened #1 "Move inter application configs (URLs) from code to config files"

[2015-11-19 07:43] damienbod opened #2 "Identity server does not support dnxcore50"

[2015-11-19 07:44] damienbod opened #3 "IdentityServer3 uses old dependencies like Identity, cannot use new packages"

[2016-01-11 14:57] damienbod opened #4 "Update to IdentityServer 4"

[2016-01-15 08:14] damienbod commented on #3
updating to IdentityServer4 and will not implement this for IdentityServer3

[2016-01-15 08:14] #3 closed

[2016-01-15 08:15] damienbod commented on #2
IdentityServer4 does

[2016-01-15 08:15] #2 closed

[2016-01-15 09:34] damienbod commented on #4
done

[2016-01-15 09:34] #4 closed

[2016-01-15 09:35] damienbod opened #5 "Use Identity with IdentityServer4"

[2016-01-17 14:55] mabouchalkha opened #6 "Authentication error"
hi,
Thanks a lot for your sample very helpful.
i've got error when i click to login? i don't know why.
i've got the same error when i use implicit flow example here https://github.com/IdentityServer/IdentityServer4.Samples

can you please help.

<img width="789" alt="error" src="https://cloud.githubusercontent.com/assets/4623561/12378056/2cc8ba74-bd00-11e5-90b1-c8ee72d51383.PNG">

[2016-01-22 15:45] mabouchalkha commented on #6
I think is the same https://github.com/IdentityServer/IdentityServer4/issues/15 and https://github.com/aspnet/HttpAbstractions/issues/535
thank you

[2016-01-22 16:11] damienbod commented on #6
Hi @mabouchalkha

Sorry for the slow answer. I'll have a look next week, have to complete a project before Monday, and have no time till then.

greetings Damien

[2016-01-22 16:23] mabouchalkha commented on #6
No problem thanks

[2016-01-27 21:53] curlyfro opened #7 "Angular 2?"
can you show an example of this using Angular2?

[http://stackoverflow.com/questions/35048005/has-anyone-created-any-angular2-auth-wrapper-classes-for-identityserver-3-4](http://stackoverflow.com/questions/35048005/has-anyone-created-any-angular2-auth-wrapper-classes-for-identityserver-3-4)

[2016-02-06 06:49] damienbod commented on #7
Sounds like a good idea, I'm learning it now.

[2016-02-06 15:46] curlyfro commented on #7
this is what i've got so far...  maybe you can find something in here useful.

[gist:https://gist.github.com/curlyfro](https://gist.github.com/curlyfro)

[2016-02-06 16:33] damienbod commented on #7
cool thanks

[2016-02-12 07:29] damienbod commented on #6
Hi @mabouchalkha, have you figured out your problem yet. If not could you post some more details, client, Startup configuration, login url etc

I'll have a look. Does the example as it is, work for you? You might have to fix the port numbers locally.

Greetings Damien

[2016-02-12 09:03] damienbod commented on #6
Hi @mabouchalkha, I also received this user, when I defined my Users and Clients incorrectly, copy pastes errors.

Maybe this helps

Greetings Damien

[2016-02-14 08:28] damienbod opened #8 "Add error handling to the angular client 401, 403"

[2016-02-14 08:29] damienbod opened #9 "Add login"

[2016-02-14 11:40] mabouchalkha commented on #6
yes thank you my problem is the same like IdentityServer/IdentityServer4#15 and aspnet/HttpAbstractions#535 i have to clear ly cookies and it works thank you

[2016-02-14 11:40] #6 closed

[2016-02-17 07:41] #8 closed

[2016-02-17 07:41] #9 closed

[2016-02-17 07:42] damienbod opened #10 "Add logoff"
client should logoff and redirect

[2016-02-20 13:00] damienbod commented on #10
Not implemented yet in IdentityServer4

[2016-02-28 20:34] damienbod commented on #7
TODO: error handling 401, 403

[2016-03-02 12:02] damienbod commented on #7
@curlyfro  Angular2 client is implemented, greetings Damien

[2016-03-02 12:02] #7 closed

[2016-03-11 08:35] damienbod opened #11 "Add File download example"

[2016-03-13 18:30] mabouchalkha commented on #5
do you have any idea how to implement that

[2016-03-13 19:52] damienbod commented on #5
Hi @mabouchalkha

IdentityServer4 support for Identity is not ready yet. This will be implemented some time after the ASP.NET Core RC2 release. Then the new interfaces to implement identity will be available.

Greetings Damien

[2016-03-14 21:30] damienbod commented on #11
complete

[2016-03-14 21:30] #11 closed

[2016-03-22 13:50] damienbod opened #12 "Support one time tokens for file download"
Add support for one time tokens so that the access_token is not used in the URL for file downloads

[2016-03-22 13:51] damienbod commented on #12
comment from Alistair:
------------------------------------------
We approached this in a different way:
– The user clicked on a link to a document. A request is sent to the API checking the user has permission to view the file.
– If the user has permissions a one time token is created, stored in the database and returned.to the client.
– The client then makes another request with the token and fi

[2016-03-22 13:52] damienbod opened #13 "Add support for activate, deactivate files from/to on file server"

[2016-03-22 13:53] damienbod opened #14 "Add file upload to file server"

[2016-04-03 07:02] damienbod commented on #12
Implemented using one time access ids

[2016-04-03 07:02] #12 closed

[2016-04-06 02:47] damienbod opened #15 "Validate client validation of client id_token as defined by OpenID Connect"
http://openid.net/specs/openid-connect-implicit-1_0.html

described: 2.2.1.  ID Token Validation

[2016-04-13 01:22] computercraft-co-nz opened #16 "HTTP Error 500.19 - Internal Server Error"
I try to start without debugging the IdentityServerAspNet5 using IIS Express.
The first time it attempted to execute I was asked if I would like to install a security token.  I answered yes.
Thereafter and each subsequent time I attempt to start the app I get a http Error 500.19
The suspicious information on that page is the Config file  reads \\?\C:\git\damienbod\AspNet5IdentityServerAngularImpli

[2016-04-13 04:22] damienbod commented on #16
Hi @computercraft-co-nz

You need to change this in the config file and in the different startup class files. I also created the pfx key myself, this can be replaced by yours. The https ports used by you, will probably be different than the ports used be me, these also need to be changed to match you runtime, (all applications). I plan to move all the code configurations to a config files to make

[2016-04-13 05:09] computercraft-co-nz commented on #16
Hi Damien,
So just doing small steps and focusing on IndentityServerAspNet5.
This project does on have a config file (yes the other projects do have a config file).
Checking the Startup it looks straight forward and cannot see any changes I should make?
I would have expected your pfx file would have worked, so I'm thinking why change it?
I have checked the port setting and they appear to be the sa

[2016-04-14 01:10] computercraft-co-nz commented on #16
I have managed to get the applications working…
All the projects in the solution gave me an http Error 500.19.
So for each of the projects that I wanted to execute I did the following
	(a) Set as StartUp Project
	(b) Start without Debugging.  Received 500.19 error.
	(c) Close Browser.
	(d) Open application Properties -> Debug and remove the tick mark against Enable Anonymous Authentication.  Then

[2016-04-14 01:10] #16 closed

[2016-04-16 08:30] Sn3b opened #17 "External Providers"
Hi,

Great examples, thanks for that.

I'm trying to add external providers to your IdentityServer4 implementation but I cannot find the right way :(

I have added `Microsoft.AspNet.Authentication.Google` as a dependency and added the following to Startup.cs:

[code]

Got the error "The 'SignInScheme' option must be provided." so I added the following too: `options.SignInScheme = "NoIdeaWhatToPutT

[2016-04-16 08:38] Sn3b commented on #17
I have also managed to get the buttons to render by copy/pasting the MVC6 code but using `Context.Authentication.GetAuthenticationSchemes()` instead of `SignInManager.GetExternalAuthenticationSchemes()`:

[code]

I guess I have to create a controller now, but again when I look at how it's done in MVC6 I'm stuck because they use AspNet.Identity.

Found this interesting article but not sure if it's

[2016-04-17 02:52] computercraft-co-nz commented on #17
Sn3b
Ben Foster has posted code for his SAAS kit. Included in the sample code is the Google oAuth middleware.  Check out https://github.com/saaskit/saaskit/tree/master/samples/AspNetMvcAuthDemo
__Allan

[2016-04-17 21:25] Sn3b commented on #17
@computercraft-co-nz thank! :)

[2016-04-18 16:15] damienbod commented on #17
Hi @Sn3b  @computercraft-co-nz, sorry for the slow answer, was away. Thanks @computercraft-co-nz  for the good link. I'm am waiting till the next release of IdentityServer4 before investing any time in the identity area because I expect a lot to change here. The next release will be some time after ASP.NET Core RC2 release, so you could be waiting a long time for this.

Greetings Damien

[2016-04-18 16:27] Sn3b commented on #17
@damienbod thanks for the answer, no problem for the delay, I am on holidays myself :package:
Just to be sure, you prefer to wait for Identity to be ready then? No plan for social logins without Identity?

[2016-04-18 18:22] damienbod commented on #17
@Sn3b I'm expecting something like this with the new ASP.NET Core libraries

https://github.com/IdentityServer/IdentityServer3.Samples/blob/master/source/CustomUserService/CustomUserService/Startup.cs

I do not plan to use any ASP.NET Core libraries for production until after RC2 release as RC2 is so different to RC1 and older versions. Seems like a new software to me.

Greetings Damien

[2016-04-18 18:50] Sn3b commented on #17
Thanks alot @damienbod! :)

[2016-05-23 03:49] damienbod commented on #10
https://identityserver.github.io/Documentation/docs/endpoints/endSession.html

[2016-05-23 03:50] damienbod opened #18 "_protector.Protect Not working after RC2 update"
https://github.com/aspnet/DataProtection/issues/146

[2016-05-23 03:53] damienbod commented on #17
This should now be possible in the RC2 version of IdentityServer4. Is it ok to close this issue?

Greetings Damien

[2016-05-23 06:45] Sn3b commented on #17
Sure :)

[2016-05-23 06:45] #17 closed

[2016-05-25 21:41] damienbod commented on #18
Cert had to be added to the cert store

[2016-05-25 21:41] #18 closed

[2016-05-28 13:27] damienbod opened #19 "Update Angular 2 client to use Webpack"
fixes client performance

[2016-05-31 18:59] damienbod commented on #19
done

[2016-05-31 18:59] #19 closed

[2016-06-02 09:04] pontusr opened #20 "Use oidc-client"
Hi!

Thanks for your work on this and your blog - they have both been a great resource for me in dealing with auth in ng2.

Not sure if you are actually trying to document how to implement the entire OIDC spec yourself. If not, it would be great to use the official" oidc-client. Any plans for that? That way we would get a lot of "freebies", like token renewal, token validation, better fragment han

[2016-06-03 19:38] damienbod commented on #20
Hi Thanks

Ye , the oidc-client is a cool library, looks really good. At present, I have no plans for this, I wanted to implement a log out first, and then the database for the users.

Greetings Damien

[2016-06-26 10:40] damienbod commented on #10
logout works, automatic direct not working

[2016-07-07 04:14] damienbod opened #21 "App.component.ts does not implement ngInit"

[2016-07-07 04:15] damienbod commented on #10
Remove hard coded back link

[2016-07-10 08:07] damienbod opened #22 "In the Angular2 client, a successful login returns to an undefined route"

[2016-07-22 08:59] damienbod opened #23 "angularclient client routing not working for successful token response"
When I press the button “Yes, Allow” at the screen “angularclient is requesting your permission” I have an error:
GET https://localhost:44347/authorized 404 (not Found) :44347/authorized#id_token=eyJhbGciOiJSUzI1NiIsImtp…

[2016-07-23 07:40] damienbod opened #24 "move angular2 src files out of the wwwroot"

[2016-07-23 07:41] damienbod commented on #5
https://github.com/IdentityServer/IdentityServer4.Samples/tree/dev/SpaWithAspId3AndIdSvr4

[2016-07-23 12:26] mabouchalkha commented on #5
thanks a lot

[2016-07-27 11:01] cfm017 opened #25 "In AuthorizedCallback() --> router navigate to DataEventRecordsList don't work"
In the method AuthorizedCallback() when the "authResponseIsValid" is true there are a command "this._router.navigate(['/dataeventrecords']);" --> this command don't work.

[2016-07-31 08:54] damienbod commented on #25
This should work, I'll check this and get back to you.

This is defined here:

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/Angular2Client/wwwroot/app/dataeventrecords/dataeventrecords.routes.ts

Greetings Damien

[2016-07-31 08:58] damienbod commented on #23
Need to remove this from the server routes in the startup

[code]

[2016-08-05 07:02] cfm017 commented on #25
I solved the problem :)

I’m implementing your architecture for my new project, I hope that we will have the final version of angular 2 soon. Thank you for your contribution

Best regards
Cristóbal

[2016-08-05 08:31] damienbod commented on #25
Hi Cristóbal, cool

Greetings Damien

[2016-08-05 08:31] #25 closed

[2016-08-09 20:07] damienbod commented on #23
fixed in master

[2016-08-09 20:07] #23 closed

[2016-08-10 04:17] damienbod commented on #10
hard link is removed with IdentityServer4 beta 5 version

[2016-08-10 04:17] #10 closed

[2016-08-10 04:19] damienbod opened #26 "routing not working for angular2 rc5 version"
After a successfully login, the SPA throws a routing exception for the  '' route.

[2016-08-11 15:24] damienbod commented on #26
fixed

[2016-08-11 15:24] #26 closed

[2016-08-11 15:24] damienbod commented on #22
fixed

[2016-08-11 15:24] #22 closed

[2016-08-11 15:32] damienbod commented on #21
fixed

[2016-08-11 15:32] #21 closed

[2016-08-11 15:36] damienbod opened #27 "Implement check session before server logout"
When the server session has expired, the client SPA should check this before calling the https://localhost:44345/connect/endsession

URL:
https://localhost:44345/connect/checksession

[2016-08-17 19:49] ph1lolog1st commented on #22
Hi damienbod. Was update to rc5 the fix to this bug? What should I do to fix this bug, and don't update to rc5?

[2016-08-17 20:43] damienbod commented on #22
Hi @ph1lolog1st
my routing was defined incorrect

Greetings Damien

[2016-08-17 20:50] ph1lolog1st commented on #22
damienbod, very thanks for quick replay. Could you say what exactly was wrong and why, please?

[2016-08-18 08:52] ph1lolog1st commented on #22
@damienbod, can i fix this bug using router 3.0.0-beta.1?

[2016-08-18 09:02] ph1lolog1st commented on #22
I found solution: window.location.href = "something". I think it is a poor solution, but it's work.

[2016-08-24 16:54] maxisam opened #28 "Hybrid flow"
Thank you for awesome examples. Any chance you will create one for Hybrid flow + Angular 2 ?

[2016-08-25 02:50] alvachien opened #29 "Cannot read out the profile information in angular2 client"
Via the decoding, the profile information is missing meanwhile the OIDC_client can fetch anything out.
Any hint for it?

Thanks, Alva

[2016-08-25 04:31] damienbod commented on #29
Hi @alvachien

The user profile data can be got from the access_token. In this application the getDataFromToken in the security service returns the data from the access_token. You can make this public or access the data directly from the local storage.

Another possibility is to use the id_token and call a IdentityServer4 server method which returns the user data.

Greetings Damien

[2016-08-25 04:32] damienbod commented on #28
Hi @maxisam
I havn't thought about this yet, sounds interesting. I'll have a look at this.

Greetings Damien

[2016-08-29 02:47] alvachien commented on #29
@damienbod Thanks so much for the hint.

Regards, Alva

[2016-08-29 02:47] #29 closed

[2016-09-04 09:39] damienbod commented on #24
done

[2016-09-04 09:39] #24 closed

[2016-09-06 09:50] damienbod opened #30 "Use router guards in the Angular 2 client"

[2016-09-08 19:13] damienbod opened #31 "Update to IdentityServer4 RC1"

[2016-09-13 15:09] damienbod commented on #5
implemented

[2016-09-13 15:09] #5 closed

[2016-09-13 15:09] damienbod commented on #31
completed

[2016-09-13 15:09] #31 closed

[2016-09-30 19:32] #27 closed

[2016-11-01 07:15] damienbod opened #32 "All in one app logout request returns HTML login page and not request success"

[2016-11-02 20:38] richb78uk opened #33 ".Net Core Identity, IdentityServer4 and AngularJS Authorization Query"
Hi,
I've got your sample AngularJS code working in my project at a basic level, it authenticates OK which is all fine, but I need to develop this a bit further, and looking for some pointers on the best way to do this.

Say for example I have a left had Nav bar and with 2 items "view" and "admin"  and I have 2 users ReadOnlyUser and AdminUser (admin user has role/claim of Admin) ReadOnlyUser doesn

[2016-11-03 03:26] damienbod commented on #33
Hi Richard

You can implement a base controller and each angular controller can inherit from this. All your security logic can be implemented here and used in the views then, for example ng-if=hasUserReadRight() or hasUserWriteRight()

Greetings Damien

[2016-11-18 08:18] nigel-dewar opened #34 "Any chance can do an Ionic 2 or Electron example?"
Hi Damo,

keep up the fantastic work mate.

Any chance can do an Ionic 2 or Electron example?

cant seem to find anything out there, and wondering if you could please do one or point towards one if you know of one.

[2016-11-18 09:36] damienbod commented on #34
Hi @nigel-dewar

At present not yet, at present not, my day job is eating up my time. I will get back to you, wanted to start some Electron.

I know of no examples.

Greetings Damien

[2016-11-18 11:17] nigel-dewar commented on #34
No probs Damo. Thanks for ur reply.

Nige.

Sent from Samsung Mobile

-------- Original message --------
From: damienbod
Date:18/11/2016 19:36 (GMT+10:00)
To: damienbod/AspNet5IdentityServerAngularImplicitFlow
Cc: nigel-dewar , Mention
Subject: Re: [damienbod/AspNet5IdentityServerAngularImplicitFlow] Any chance can do an Ionic 2 or Electron example? (#34)

Hi @nigel-dewar<https://github.com/nigel-

[2016-11-18 11:18] #34 closed

[2016-11-20 13:52] nigel-dewar commented on #28
second this.

[2016-11-25 03:38] LiveLikeLastDay opened #35 "Compile error in VS 2015"
Severity	Code	Description	Project	File	Line	Suppression State
Error	eqeqeq	Expected '!==' and instead saw '!='.	AngularClient	C:\Git\AspNet5IdentityServerAngularImplicitFlow\src\AngularClient\wwwroot\app.js	1
Error	TS5023	Build:Unknown compiler option 'skipLibCheck'.	C:\Git\AspNet5IdentityServerAngularImplicitFlow\src\ResourceWithIdentityServerWithClient\ResourceWithIdentityServerWithClient.xproj

[2016-11-25 06:32] damienbod commented on #35
Hi @LiveLikeLastDay

What version of typescript are you using? The first error should only be a warning. Then you should do a npm install from the command line. Some npm libs seem to be missing.

Greetings Damien

[2016-12-02 09:01] damienbod opened #36 "Update to IdentityServer4 rc4 update1"
Lots of breaking changes
- login changed (OK for multi app, single app routing problem since update)
- logout changed (OK)
- Config Scopes (OK)
- IProfileService changed (OK)
- ConsentModel changed (OK)
- Register new user redirects incorrectly (must test again)
- Consent shows double claims (OK)
- resource claims check returns a 403 (OK)
- roles missing from id_token (OK)
- claims missing from in

[2016-12-02 10:31] damienbod commented on #36
https://github.com/IdentityServer/IdentityServer4.AccessTokenValidation/issues/36

[2016-12-02 11:21] damienbod commented on #36
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/updateIdentityServerRc4

[2016-12-02 11:40] leastprivilege commented on #36
done?

How long did it take?

[2016-12-02 11:52] damienbod commented on #36
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 GET http://localhost:44378/api/FileExplorer/ application/json
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 GET http://localhost:44318/.well-known/openid-configuration
IdentityServer4.Hosting.IdentityServerMiddleware:Information: Invoking IdentityServer endpoint: IdentityServ

[2016-12-02 11:56] damienbod commented on #36
@leastprivilege still have some 403 Introspection problem from the resource servers, and want to clean up update the logout for a global logout. Want to update the blogs then. Will try to finish this weekend.

Greetings Damien

[2016-12-03 10:45] damienbod commented on #36
https://github.com/IdentityServer/IdentityServer4/issues/531

[2016-12-03 11:52] damienbod commented on #36
https://github.com/IdentityServer/IdentityServer4/issues/532

[2016-12-04 00:04] #36 closed

[2016-12-04 00:05] damienbod opened #37 "Update docs for IdentityServer4 rc4"

[2016-12-04 07:37] damienbod opened #38 "Update AngularJS to implement extra round trip to get the user claims"
This requires an extra round trip with IdentityServer rc4 to get the user claims, roles, no longer included in the id_token

[2016-12-04 08:13] damienbod commented on #37
Done

[2016-12-04 08:13] #37 closed

[2016-12-04 08:13] damienbod commented on #32
fixed

[2016-12-04 08:13] #32 closed

[2016-12-04 08:13] damienbod commented on #15
ok

[2016-12-04 08:13] #15 closed

[2016-12-04 08:15] damienbod opened #39 "Browser client routing warnings when redirctly back to the client using index.html"
Rx warnings in browser, need to fix, remove

[2016-12-04 08:15] damienbod commented on #35
Is is ok?, can I close?

[2016-12-04 09:10] damienbod commented on #20
Hi @pontusr

@jmurphzyo has a good repo here:

https://github.com/jmurphzyo/Angular2OidcClient

Is it ok to close this?

Greetings Damien

[2016-12-07 19:44] pontusr commented on #20
Absolutely - we have it working fine since some time using the oidc-client-js library, very good library.

[2016-12-07 19:44] #20 closed

[2016-12-07 21:44] LiveLikeLastDay commented on #35
Sorry about the delay.

C:\Git\AspNet5IdentityServerAngularImplicitFlow\src\Angular2Client>TSC -V
Version 2.0.3

C:\Git\AspNet5IdentityServerAngularImplicitFlow\src\Angular2Client>npm install
npm WARN optional Skipping failed optional dependency /chokidar/fsevents:
npm WARN notsup Not compatible with your operating system or architecture: fsevents@1.0.15
npm WARN webpack-dev-server@1.16.2 requires

[2016-12-07 22:20] damienbod commented on #35
No this is a VS bug in the tooling. If you do a npm install from the command line it works ok. Scott Hanselman wrote an article about this. Sometimes when npm doesn't work, you need to delete the contents of the npm folder and also the typings and do a npm install from the command line.

Greetings Damien

[2016-12-08 10:58] SamJost opened #40 "Update to .NET CORE 1.1"
It would be nice to update the project to use the most recent version 1.1 of ASP.NET Core and the new tools preview.
It might be as little as changing the Version in global.json to "version": "1.0.0-preview2-003131" instead of "version": "1.0.0-preview2-003121"

[2016-12-08 11:06] damienbod commented on #40
Hi @SamJost As soon as IdentityServer4 is updated, I will updated.

Greetings Damien

[2016-12-08 13:47] damienbod commented on #40
https://www.nuget.org/packages/IdentityServer4/ rc5

[2016-12-08 23:33] LiveLikeLastDay commented on #35
Tried delete the contents of the npm folder and run npm install, still same error....

Where is the typings folder/files I need delete?

[2016-12-12 02:18] #35 closed

[2016-12-12 11:45] damienbod commented on #40
both IdentityServer4 applications updated
TODO:
Client apps and resource servers

[2016-12-20 14:16] damienbod commented on #40
completed

[2016-12-20 14:16] #40 closed

[2016-12-20 14:16] damienbod commented on #39
fixed

[2016-12-20 14:16] #39 closed

[2016-12-20 14:17] damienbod commented on #33
@richb78uk  Can I close this?

[2016-12-20 14:18] damienbod commented on #30
example implemented here:
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/master/src/ResourceWithIdentityServerWithClient/angular2App/app/guards

[2016-12-20 14:18] #30 closed

[2016-12-20 14:20] damienbod opened #41 "Update webpack production build to fulfil the max 250kb warning"
code splitting
lazy loading

[2016-12-20 14:53] richb78uk commented on #33
Yes, I ended up going down Mvc route for a number of reasons!

Get Outlook for Android<https://aka.ms/ghei36>

On Tue, Dec 20, 2016 at 2:17 PM +0000, "damienbod" <notifications@github.com<mailto:notifications@github.com>> wrote:

@richb78uk<https://github.com/richb78uk> Can I close this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://g

[2016-12-20 18:18] #33 closed

[2017-01-07 22:38] RolfVeinoeSorensen commented on #38
Hi Damien

First of all thank you for a great reference project. I am using the ResourceWithIdentityServerWithClient project as inspiration for my site.

This bug is it related to when I log in and get returned to the ng2 spa then the link still says log in until I log in again then admin links starts to work and link changes to log out?

It would be great if you could help me suggest a solution.

[2017-01-08 08:40] damienbod commented on #38
Hi @RolfVeinoeSorensen, you need to save the user data, security tokens local some where on the client, local storage, cookies, redux or whatever and then implement a service or a guard which can be used to switch between a logged in compoenents, and the log in component

[2017-01-25 03:38] pomeara commented on #41
Hi Damien, firstly wanted to say you have a great set of template projects and samples to help folks like myself jump into this A2 world!

I have been trying to get this up and running and have bumped into a few different issues.

1) The size of both prod and dev builds for the app.bundle.js is > 10MB (I assume lazy loading may assist with this - however I was surprised that tree shaking did not s

[2017-02-13 10:40] j-nord opened #43 "Visual Studio 2015 we can't build the project."
Under Visual Studio 2015 it is not possible to build the project. The build session hangs.

[2017-02-13 11:42] damienbod commented on #43
Hi @j-nord
have you a problem with the restore?

Try from the command line
$ dotnet restore
$ npm install

If this is ok, then
dotnet build
npm run build-production

Greeetings Damien

[2017-02-14 14:59] dev-siberia commented on #43
Problem build and run project **ResourceWithIdentityServerWithClient**. VS 2015 update3.
![default](https://cloud.githubusercontent.com/assets/15089615/22934215/c42a51f2-f300-11e6-8cab-aeb6df4d1016.PNG)

[2017-02-14 15:22] damienbod commented on #43
looks like something is wrong with your nodejs and npm
Download the latest version and install
then
$ npm install -g npm@latest
Go the the project folder

$ npm install
$ npm run build-production

Greetings Damien

[2017-02-15 19:46] damienbod commented on #43
VS215 version is now on this branch
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/VS2015_project_json

Have you found out if the client APP builds from the command lien. If it does, then you need to configure the nose stuf in VS2015. If it doesn't build, then you need to install the node stuff

Greetings Damien

[2017-02-27 06:20] kuncevic opened #44 "Angular 2 + MVC ?"
Your example `AngularClient` is sort of mixture MVC + Angular 2 is there reason for that?
Why wouldn't you use just Angular-CLI for that project ?

[2017-02-27 07:40] damienbod commented on #44
Hi @kuncevic It's just just the MVC for the WebAPI (service on the server). The Angular app is in the same project, which makes it easier to deploy, in some scenerios. Angular-CLI would be  a good solution, if you split the apps into 2 projects. Angular-CLI comes with a lot of overhead, and doesn't update so good. I prefer just an angular app with a webpack build but it's just a preference.

Greet

[2017-02-27 10:16] #44 closed

[2017-02-28 08:34] elciopa opened #45 "PostLogoutRedirectUri is null"
Hi,
first of all thanks for the work you're doing. I'm really appreciating these examples cause they're giving me a way to start my implementation. I started from your IdentityServerWithIdentitySQLite project and used SQLServer instead of SQLite. Everything is working, I have many clients and I would say everything is ok except for one issue: PostLogoutRedictUris are always null, so there's no red

[2017-03-13 05:23] damienbod opened #46 "part of the id_token validation missing"
Clients MUST validate the ID Token per Section 2.2.1.”.
If the nonce from the id token is being used, then should the client validate the signature of the id token too?

[2017-03-16 09:40] yhdkzy commented on #43
The first open error
vs2015 update3

=====================
2017/3/16 17:08:25
Crippling
System.AggregateException: 发生一个或多个错误。 ---> System.InvalidOperationException: The source completed without providing data to receive.
   在 System.Threading.Tasks.Dataflow.Internal.Common.InitializeStackTrace(Exception exception)
--- 引发异常的上一位置中堆栈跟踪的末尾 ---
   在 System.Runtime.CompilerServices.TaskAwaiter.ThrowForN

[2017-03-16 10:04] damienbod commented on #43
Hi @yhdkzy You can't build the Angular2Client project, correct?
try from the command line as a test.
Change to the project directory and delete everything from the node_modules folder

Greetings Damien

[2017-03-18 13:30] damienbod commented on #46
http://openid.net/specs/openid-connect-implicit-1_0.html

[2017-03-18 13:32] damienbod commented on #46
2.2.1.  ID Token Validation
2.2.2.  Access Token Validation

[2017-03-18 13:34] damienbod opened #47 "Implement silent renew"

[2017-03-18 13:41] damienbod opened #48 "Add protection for CSP attacks"
https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2017-03-19 21:49] damienbod commented on #46
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/master/src/ResourceWithIdentityServerWithClient/angularApp/app/auth

[2017-03-19 21:50] damienbod commented on #46
Add to other angular client

[2017-03-20 06:51] damienbod opened #49 "add docs for oidc client validation"

[2017-03-20 06:51] #46 closed

[2017-03-21 09:17] yhdkzy commented on #43
Hi @damienbod , i can build now. How do I run and test? I am a novice. Thanks

[2017-03-21 09:23] damienbod commented on #43
2 ways. From the console

If this works then you can try from VS, problem here is that the wrong Node.js version is used per default. You need to use the node.js installed directly and not that from VS.

Greetings Damien

[2017-03-28 23:40] nukec opened #50 "sessionStorage is not defined"
I implemented angular2client oidc service, when I run app in .net core I get following error:

[2017-03-29 04:09] damienbod commented on #50
The sessionStorage is used here
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/auth/services/oidc.security.service.ts#L273
and set in the ctor.

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/auth/services/oidc.security.service.ts#L35

Setup a breakpoint to test i

[2017-03-29 04:51] nigel-dewar opened #51 "angularJS client - This is server routing, not angular2 routing??? where is the index page?"
Hi Damo,

With the angularJS client, loading just says This is server routing, not angular2 routing

Looking in the project, there is no index page either? something missing here?

Cheers

[2017-03-29 07:30] damienbod commented on #51
Hi @nigel-dewar
I'll have a look, have checked this in a while, been focusing on angular 2/4 later

Greetings Damien

[2017-03-29 10:53] nigel-dewar commented on #51
No worries mate. I know everyone has moved onto ng2. But just thought id ask because i testedthis and the result didnt make sense to me. Cheers

[2017-03-29 16:58] nukec commented on #50
damien I understand that, I used your code to implement oidc service, and I am using it with "dotnet new angular" using visual studio 2017 template from this url: https://jonhilton.net/2017/02/21/create-a-vs2017-angular-2-and-net-core-site-using-the-command-line/ . Once I put this inside it works first time, then when i rebuild, it gives that error.

[2017-03-29 19:06] nukec commented on #50
Ok this is resolved by putting if(isBrowser) for window, sessionStorage and getItem.

[2017-03-29 19:06] #50 closed

[2017-03-29 19:09] nukec opened #52 "KEYUTIL is not defined"
So I got authorization with IdentityServer4 working(get id_token, access_token etc), but after authorization is done I get this error:

KEYUTIL is in oidc.security.validate.ts. I read that this is in jrsasign, but I am not sure you used this library in package.json?

[2017-03-29 19:29] damienbod commented on #52
I had problems using this from the npm package so I added this in the assets and ref it from the index.html.

[2017-03-29 19:31] damienbod commented on #50
thanks for the fix, will add it.

[2017-03-29 20:29] nukec commented on #52
@damienbod brilliant, i didn't see it, it's working now. by the way, what was the issue with npm, i tried to install it as well, but it was not recognizing it inside.

PS: i forked your project for another bug, and tried to commit, but i don't have access:

[2017-03-30 05:52] damienbod commented on #52
Cool thanks, did a blog about this:
https://damienbod.com/2016/11/25/contributing-to-oss-projects-on-github-using-fork-and-upstreams/
just create a pull request

Thanks Damien

[2017-04-10 20:56] nukec opened #53 "EnablePostSignOutAutoRedirect in angular2 client"
How to implement EnablePostSignOutAutoRedirect or any other options like EnableSignOutPrompt for identityserver in angular client?

I read what is required here: https://github.com/IdentityServer/IdentityServer3/issues/1121 but not sure where in your service implementation should i inject these properties?

[2017-04-16 06:10] damienbod opened #54 "Discovery problem"
An unhandled exception was thrown by the application. (8c14976b)
System.InvalidOperationException: Discovery endpoint https://localhost:44318/.well-known/openid-configuration is unavailable: System.Net.Http.HttpRequestException:

[2017-04-16 06:19] damienbod commented on #54
At Ani, Jamie
I'm trying to reproduce this and I can't. I created a new issue for this.

Could you try the following

1) Rebuild the whole solution
2) Stop all scripts running in the task runner
2) delete everything in .\src\AngularClient\node_modules
3) using the commandline at .\src\AngularClient

4) start IdentityServerWithIdentitySQLite
5) start ResourceServer
6) start ResourceFileServer
7) st

[2017-04-16 06:24] damienbod commented on #54
From Jamie

Actually problem is that API – ResourceFileServer (44378 port) can’t hit Identity server – IdentityServerWithIdentitySQLite (44318 port )

I can access the discovery address from browser – https://localhost:44318/.well-known/openid-configuration, but it seems API can’t access it for some reason. Any ideas please?

No Errors in logs for Identity Server app.

Log from Web API:

An unhand

[2017-04-16 09:16] damienbod commented on #51
@nigel-dewar I've updated the angularjs client and tested it now. Should work, you might need to build the angularjs client first before starting (grunt default build in the task runner)

Greetings Damien

[2017-04-16 23:18] nigel-dewar commented on #51
Thanks Damo ill check it out. Hey one question, Did you ever go down the path of embedding the angular app in an mvc page? And use SpaServices to fix the mvc and angular routes? I ask becuase im working out pros and cons of this method.

[2017-04-17 02:38] damienbod commented on #51
yes you could also do the client sever routing like this:

https://www.strathweb.com/2017/04/running-multiple-independent-asp-net-core-pipelines-side-by-side-in-the-same-application/

Using Angular in a MVC page  works with the lose of some angular features. You should use the angular features lazy loading, AOT and tree shaking. Splitting the app using angular modules and lazy loading gives a real

[2017-04-19 02:39] damienbod commented on #53
Hi @nukec  In the logoff function:

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/auth/services/oidc.security.service.ts#L212

The post_logout_redirect_uri is passed here as a parameter.

Greetings Damien

[2017-04-19 02:40] #52 closed

[2017-04-19 02:44] damienbod commented on #45
@elciopa thanks, I'l have  a look,

Greetings Damien

[2017-04-19 02:45] #51 closed

[2017-04-19 11:53] damienbod commented on #45
Hi @elciopa Just checked this and it's working, can I close?

Greetings Damien

[2017-04-23 08:26] nigel-dewar opened #55 "permission to reference your work."
Gday Damo. Your work is amazing. I've got some work i want to share with the breezejs guys, and I'm using angular2 with code referenced from you . Just wanted to check if it's ok to share your identityserver4 angular2 setup? All credit will be given to yourself of couse.

[2017-04-23 14:05] damienbod commented on #55
of course, delighted you can use it, thanks

Greetings Damien

[2017-04-23 20:19] nigel-dewar commented on #55
Thanks Damo appreciate that!

Just for my info, did you ever build in a 'token expiring' function to automatically renew tokens ? Just asking in case i need to program this .

cheers

[2017-04-23 20:24] damienbod commented on #55
No, need to implement this, I'm planning on implementing the OpenID session management next.

Greetings Damien

[2017-04-23 20:56] nigel-dewar commented on #55
Oh cool that sounds really good.

Ill have a crack at tokenexpiring at my end and let u know how i go

Look forward to seeing how u go with openid session management

cheers

[2017-04-23 20:56] #55 closed

[2017-04-26 03:40] nigel-dewar opened #56 "Question: Have you had success using angular2-jwt from Auth0 for angular client?"
Hi Damo,

Just looking at this sample https://github.com/robisim74/AngularSPAWebAPI from Roberto Simonetti.

Hes using angular2-jwt to do a resource owner password creds signin.

Have you had any success using angular2-jwt to do implicit flow with your work?

Cheers

[2017-04-29 05:13] damienbod commented on #56
Hi @nigel-dewar
No, I don't need this as I have to validate the token and so need a security library for this which does everything that library does.

Greetings Damien

[2017-05-04 12:26] elciopa commented on #45
yes at the end I'm able to do the postlogout redirect correctly. You can close it!
Thanks

[2017-05-04 12:28] #45 closed

[2017-05-07 10:55] nukec opened #57 "Identity roles with angular 2 implicit client"
I've implemented access for logged users with CanActivate, I am interested how to limit some areas only to admin user with your approach? When oidc checks if user is real, how do I retrieve role of user and store it in local storage? Do you have an example of this? What could be an approach? I am using identityserver4 and asp.net core identity integration to query with database users.

My architec

[2017-05-07 11:35] damienbod commented on #57
Hi @nukec
You can add extra claims to the tokens using the IProfileService interface.

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/IdentityServerWithIdentitySQLite/IdentityWithAdditionalClaimsProfileService.cs

Or you can query the User API to get the user details from the database. You should keep the tokens small.

Greetings Damien

[2017-05-08 09:10] urbanhusky commented on #47
Hi, how could silent renewal be implemented?

[2017-05-08 11:16] damienbod commented on #47
Hi @urbanhusky
I want to implement as defined here:
http://openid.net/specs/openid-connect-session-1_0-ID4.html

hidden iframes can be used in angular.

Greetings Damien

[2017-05-08 22:59] dgouissem commented on #43
Hello,
I'm getting below error when trying to start all the projects in the solution thru the run IIS Express commande in VS 2017:
unable to connect to web server iis express

Any clues to resolve this issue,

Thank you

[2017-05-09 04:50] garkuwa opened #58 "Refresh tokens"
Hi,
I wondered if there is any logic for refresh/inactivate of tokens. Maybe I just didn't find code for this or its out of scope? Thank you.

Best regards,
Taras Pysarskyi

[2017-05-09 07:09] damienbod commented on #58
no, haven't implemented anything like this.

Here's an example with ROPC
https://github.com/robisim74/AngularSPAWebAPI

Greetings Damien

[2017-05-09 09:15] MagnusJohansson opened #59 "Is the AngularJSClient missing all the html files?"
Is it just me, or is the AngularJSClient project missing all the .html files?
(such as index.html, /templates/...  etc)

[2017-05-09 10:11] Looooooka opened #60 "Problem testing solution"
Started identityserver using dotnet run command.
works...can register and login no problem.
I did the same with the angularjs project
and when I click login(which redirects to https://localhost:44318/connect/authorize?response_type=id_token%20token&client_id=angularclient&redirect_uri=https://localhost:44311&scope=dataEventRecords%20securedFiles%20openid&nonce=N0.67227080542520781494324578419&stat

[2017-05-09 10:20] Looooooka commented on #60
Never mind...using ctrl +F5 and running both project that way seems to generate a warning about the authenticity of the certificate but at least then it gives you the options of opening the page and the redirect actually works

[2017-05-09 10:26] garkuwa commented on #58
Thanks a lot for reply and example reference.

Regards, Taras

[2017-05-09 10:26] #58 closed

[2017-05-09 10:47] damienbod commented on #59
yes, sorry

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/master/src/AngularJSClient/wwwroot/templates

Greetings Damien

[2017-05-09 10:47] #59 closed

[2017-05-09 10:48] damienbod commented on #60
I need to document this, thanks

[2017-05-16 16:55] Brammii commented on #57
Hi Damien,

In your all-in-1 project “ResourceWithIdentityServerWithClient” you have created a UserManagementController. Where should we put that controller if we use the separated projects? Is it ok to use it on the identityserver? Or should we create a special authorization/permission server (microservice)?

Dominick Baier told on his blog https://leastprivilege.com/2016/12/16/identity-vs-permis

[2017-05-18 22:52] nigel-dewar opened #61 "All in one project will not allow external providers like Google"
Hi Damo,

with your all in one project, 'the project with idserver, api and everything combined', have you tried adding an external provider like google?

I think you will find it wont work. I have tried it myself on my project, following your solution code, and it does not work for me.

[2017-05-19 05:28] damienbod commented on #61
Should work, I have deleted all the views, controller stuff required, otherwise there is nothing special with the all in one solution apart from that.

Greetings Damien

[2017-05-19 05:31] nigel-dewar commented on #61
I found I had to remove this. for some reason no external auth for me happens whilst its in startup file

JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();

________________________________
From: damienbod <notifications@github.com>
Sent: Friday, 19 May 2017 5:28 p.m.
To: damienbod/AspNet5IdentityServerAngularImplicitFlow
Cc: nigel-dewar; Author
Subject: Re: [damienbod/AspNet5IdentitySer

[2017-05-19 11:58] nukec opened #62 "In ResourcesServer project you have DataEventRecordContext"
How do you know which USER created DataEventRecord? Is there any example how do you connect Identity user with custom table in different context for same database?

[2017-05-21 19:13] #62 closed

[2017-05-21 19:14] nukec commented on #57
@Brammii that's what I am thinking. I think only Login should be there to actually check against database user, and remove everything else, and implement registration on private api.

[2017-05-21 19:16] nukec opened #63 "isAuthorized and hasAdminRole can be changed via storage"
I mean this is not secured obviously, I can just change the false to true and get access to some pages. How can we secure this better?

[2017-05-21 19:24] damienbod commented on #63
Hi @nukec
true, but this is a SPA. If you set this to true, the APIs will still not work, because the admin rights are missing.

2 things need to be validated:
No Admin data should be returned to a non-Admin
Admin requests can be only executed by admins

Otherwise you need server side rendering.

Greetings Damien

[2017-05-21 19:31] damienbod commented on #57
@Brammii
The IdentityServer4 is just an ASP.NET Core application. The application could be extended to implemented this. If your not used Identity in IdentityServer4 but an external login, then the external login source would be the best place for this.

[2017-05-21 19:32] damienbod commented on #62
@nukec hope you where able to solve this. Sorry I did not answer, missed it.

Greetings Damien

[2017-05-22 10:23] nukec commented on #63
@damienbod I think one way would be to do a request to connect/userinfo to auth server each time page is opened and retrieve role each time, instead of only when login happens. so in case anyone changes role it updates itself each time after request. Do you think this would be overkill for auth server?

Or is there simply custom not allowed or just redirection to home screen better solution if I a

[2017-05-23 08:49] nukec commented on #57
You mean to publish identity login endpoint on other webapp and do post request from identity server 4? is there any specific example of that?

[2017-06-01 18:22] damienbod commented on #47
Hi @urbanhusky
http://openid.net/specs/openid-connect-session-1_0-ID4.html

This spec will not work for this use case. To refresh the tokens, you need to check the token expired time and login if the tokens will exired within a certain time. If you do this in the main page, the page is refreshed which is useful not welcome. To do this, for example without losing form data, you would have to use a

[2017-06-01 18:24] damienbod commented on #47
The check session can be used to check if the server session has changed (not log out)  This is useful in a SSO for multiple applications.

[2017-06-01 19:09] urbanhusky commented on #47
I've gotten silent renewal to work by using `oidc-client-js`. The callback is just plain html+js (because the app is rather large and there is no need to spin up the app in an iframe if something easier works just as well)

I have to iron out some other issues in my own code and maybe I can provide some example code on how to include oidc-client in an Angular application with proper observables et

[2017-06-02 05:23] damienbod commented on #47
@urbanhusky 2 questions
When a user logs out from the server, does your client application notice this?
Is the login in a popup?

Greetings Damien

[2017-06-02 07:22] damienbod commented on #47
I'm now implementing this using iframes and the token expire time.

[2017-06-02 08:00] damienbod commented on #47
now implemented

[2017-06-02 08:00] #47 closed

[2017-06-02 18:59] urbanhusky commented on #47
@damienbod the session check in `oicd-client` notices when the session ended in the current browser. I'm using that event (and the token expired event) to trigger a signout for better UX.
IdentityServer 4 acts as our OP (with ASP.NET Core Identity).

I did not want a SSO/SLO so this works great for our application. I however have since switched to the .net code from the AspNet Identity Quickstart

[2017-06-03 03:03] PivotalAnimal commented on #60
This link might help: https://stackoverflow.com/questions/43676993/how-do-i-change-my-iis-express-ssl-certificate-for-one-that-will-work-with-chrom

I have that problem solved but am now getting runtime errors:

polyfills.3afc0ffb2b25dfd149b9.bundle.js:1 Uncaught SyntaxError: Unexpected identifier
vendor.3afc0ffb2b25dfd149b9.bundle.js:1 Uncaught SyntaxError: Unexpected identifier
app.3afc0ffb2b25d

[2017-06-03 04:34] damienbod commented on #60
@PivotalAnimal  you just need to build the client stuff and maybe configure VS2017 to use the proper node. The client build supports AOT production builds and client lazy loading.

See this solution for help in building

https://github.com/damienbod/AngularWebpackVisualStudio

Greetings Damien

[2017-06-04 00:10] PivotalAnimal commented on #60
Hi Damiean,

I've made some progress. The sites are all building and running. However, I am now receiving the following error when trying to register a user:
`Microsoft.Data.Sqlite.SqliteException: SQLite Error 14: 'unable to open database file'.
   at Microsoft.Data.Sqlite.Interop.MarshalEx.ThrowExceptionForRC(Int32 rc, Sqlite3Handle db)
   at Microsoft.Data.Sqlite.SqliteConnection.Open()
   at M

[2017-06-04 05:03] damienbod commented on #60
Hi @PivotalAnimal The path for the sqlite database is configured here:

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/IdentityServerWithIdentitySQLite/appsettings.json

You need to change this to match yours. If you created a new database,  you need to create it, for example using EF Core migrations.

Greetings Damien

[2017-06-04 12:00] nukec opened #64 "Auto login after registration"
Damien thanks for previous answers. Helped a lot. I am wondering if there is a way with implicit flow to auto login user after registration of new user has been done? Or do I have to user other grant type like credentials which is less secure?

[2017-06-04 18:52] PivotalAnimal commented on #60
HI @damienbod, the SQLite problem is fixed. Now I am attempting to fix the following:

:44311/dataeventrecords/list:1 XMLHttpRequest cannot load https://localhost:44390/api/DataEventRecords/. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://localhost:44311' is therefore not allowed access. The response had HTTP status code 500.

Thanks,

Kai

[2017-06-04 20:31] damienbod commented on #60
This is strange, seems like the CORS configuration is missing

[2017-06-05 01:06] PivotalAnimal commented on #60
I turned on developer exceptions and found the cause. Even though my AV was allowing the CERT I had generated previously, I forgot to add it to the trusted root. Now Chrome is happy and so am I. Thanks again!

[2017-06-05 15:18] damienbod opened #65 "Implement OpenID Connect Discovery and simpliy configuration"
.well-known/openid-configuration

Example from IdentityServer4 discovery

issuer	"https://localhost:44318"
jwks_uri	"https://localhost:44318/.…penid-configuration/jwks"
authorization_endpoint	"https://localhost:44318/connect/authorize"
token_endpoint	"https://localhost:44318/connect/token"
userinfo_endpoint	"https://localhost:44318/connect/userinfo"
end_session_endpoint	"https://localhost:44318/co

[2017-06-05 15:19] damienbod opened #66 "Clean up console logging for auth module"
Improve the console logging for the auth module

[2017-06-05 15:20] damienbod opened #67 "Implement the id_token Implicit Flow"
At present only the id_token token flow is supported

[2017-06-05 15:23] damienbod opened #68 "support all features required for OpenID Connect Certified Relying Parties"
http://openid.net/certification/

http://openid.net/certification/rp_testing/

[2017-06-05 15:25] damienbod commented on #64
Hi @nukec don't quite understand what you want. auto login should be possible.

[2017-06-05 15:26] damienbod opened #69 "create npm package for auth module"

[2017-06-05 15:28] #54 closed

[2017-06-05 15:29] damienbod commented on #28
https://damienbod.com/2017/05/06/secure-asp-net-core-mvc-with-angular-using-identityserver4-openid-connect-hybrid-flow/

[2017-06-05 15:29] #28 closed

[2017-06-05 15:30] damienbod opened #70 "follow angular styleguide for auth module"

[2017-06-05 15:32] damienbod commented on #68
support for RP Implicit and Config RP

[2017-06-05 18:43] damienbod opened #71 "Add router guard examples to use the auth module"

[2017-06-06 05:30] damienbod commented on #70
https://angular.io/docs/ts/latest/guide/style-guide.html

[2017-06-06 06:00] nigel-dewar commented on #28
Thank u damien. This is great. I guess to get the userinfo u would call the userinfo endpoint with the cookie and deliver that into the angular app right? Cheers

Sent from Samsung Mobile

-------- Original message --------
From: damienbod
Date:06/06/2017 01:29 (GMT+10:00)
To: damienbod/AspNet5IdentityServerAngularImplicitFlow
Cc: nigel-dewar , Comment
Subject: Re: [damienbod/AspNet5IdentityServer

[2017-06-06 06:08] damienbod commented on #28
Yes, but I never trying it. The access_token is part of the cookie, which is http only. The middleware on the server uses cookie middleware to validate.

Important thing is thing if your using cookies with angular, you must protect against XSRF. Pure SPAs should use tokens and not cookies.

Greetings Damien

[2017-06-06 06:23] nigel-dewar commented on #28
Sure thing makes sense. Cheers damo

Sent from Samsung Mobile

-------- Original message --------
From: damienbod
Date:06/06/2017 16:08 (GMT+10:00)
To: damienbod/AspNet5IdentityServerAngularImplicitFlow
Cc: nigel-dewar , Comment
Subject: Re: [damienbod/AspNet5IdentityServerAngularImplicitFlow] Hybrid flow (#28)

Yes, but I never trying it. The access_token is part of the cookie, which is http only

[2017-06-06 07:32] nukec commented on #64
When I register account I would like to auto login. Is there any implementation with angular2 your example, with identity server 4 implicit flow?

[2017-06-06 13:54] damienbod commented on #64
The all in one solution should do this, must check. You need to change the controllers on the server

[2017-06-06 21:33] #61 closed

[2017-06-06 21:35] nigel-dewar opened #72 "Did you manage to get oidc session management running?"
Hi Damo,

Did you manage to get oidc session management up and running? So that there are token refresh etc? silent token refresh, that sort of thing?

Cheers
Nige

[2017-06-07 04:16] damienbod commented on #72
Yes, the tokens are updated when the id_token expires

https://damienbod.com/2017/06/02/implementing-a-silent-token-renew-in-angular-for-the-openid-connect-implicit-flow/

Greetings Damien

[2017-06-07 04:18] nigel-dewar commented on #72
Oh epic Damo, you're then Man!!!

Cheers mate ill check it out!

Thanks for all ur hard work!

Sent from Samsung Mobile

-------- Original message --------
From: damienbod
Date:07/06/2017 14:16 (GMT+10:00)
To: damienbod/AspNet5IdentityServerAngularImplicitFlow
Cc: nigel-dewar , Author
Subject: Re: [damienbod/AspNet5IdentityServerAngularImplicitFlow] Did you manage to get oidc session management ru

[2017-06-08 19:57] damienbod commented on #71
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/master/src/ResourceWithIdentityServerWithClient/angularApp/app/guards

[2017-06-08 19:57] #71 closed

[2017-06-08 19:58] damienbod commented on #70
completed

[2017-06-08 19:58] #70 closed

[2017-06-08 20:00] damienbod commented on #57
user info has it's own service
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/auth/services/oidc.security.user-service.ts

[2017-06-09 09:00] damienbod commented on #66
completed

[2017-06-09 09:00] #66 closed

[2017-06-09 09:02] damienbod opened #73 "remove function calls from auth module, use typescript"

[2017-06-09 09:03] damienbod opened #74 "remove Promise calls from auth module, use Observable"

[2017-06-09 14:46] ncalarco opened #75 "KEYUTIL is undefined within security.validation"
When trying to validate the signature_id_token i'm getting an error thrown that the KEYUTIL is not defined, not sure what I'm missing here.

[code]

It's happening at this line of code:

`let publickey = KEYUTIL.getKey(key);`

My validation implementation:

[code]

[2017-06-09 14:54] damienbod commented on #75
Hi @ncalarco
I have this defined in the indel.html

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/index.html#L10

Added added it directly to the project
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/assets/jsrsasign.min.js

I did this because I could not get the npm pac

[2017-06-09 14:54] damienbod commented on #65
completed

[2017-06-09 14:54] #65 closed

[2017-06-09 15:00] ncalarco commented on #75
Thank you! I knew I was missing something small here, I just could not find it. This is closed!

[2017-06-09 15:00] #75 closed

[2017-06-09 19:07] damienbod commented on #73
complete

[2017-06-09 19:07] #73 closed

[2017-06-09 20:51] damienbod commented on #74
completed

[2017-06-09 20:51] #74 closed

[2017-06-12 13:43] damienbod commented on #68
https://github.com/openid-certification/oidctest

[2017-06-12 13:53] damienbod commented on #68
http://openid.net/specs/openid-connect-implicit-1_0.html

The following Claims are used within the ID Token:

    iss
        REQUIRED. Issuer Identifier for the Issuer of the response. The iss value is a case-sensitive URL using the https scheme that contains scheme, host, and optionally, port number and path components and no query or fragment components.
    sub
        REQUIRED. Subject Identi

[2017-06-12 14:11] damienbod commented on #68
TODO
- iat validation
- acr validation
- azp  validation

[2017-06-13 12:21] damienbod commented on #69
https://github.com/damienbod/angular-auth-oidc-client

https://www.npmjs.com/package/angular-auth-oidc-client

[2017-06-13 12:21] #69 closed

[2017-06-13 12:22] damienbod commented on #67
https://github.com/damienbod/angular-auth-oidc-client/issues/1

[2017-06-13 12:22] #67 closed

[2017-06-13 12:23] damienbod commented on #68
https://github.com/damienbod/angular-auth-oidc-client/issues/2

[2017-06-13 12:23] #68 closed

[2017-06-16 20:20] paulvanbladel opened #76 "Question: is there a specific reason why you use Sqlite and not localdb?"
Very nice sample Damien.
Is there a specific reason why you use Sqlite and not localdb?

[2017-06-16 20:54] damienbod commented on #76
Thanks, no specifc reason, I like SQLite and wanted to try it out. I was considering this for a MC security solution, where max 10 exists and only 1 operator at a time.

[2017-06-16 21:21] paulvanbladel commented on #76
Cool. I just saw your excellent post about sqlite https://damienbod.com/2015/08/30/asp-net-5-with-sqlite-and-entity-framework-7/

I was looking for a db (which might be small in size) which should run both on linux and windows. As far as I can see localdb won't work on linux. Sqlite does. On the other hand, localdb has excellent EF migrations support.  Sqlite has EF migrations limitations.
https:/

[2017-06-16 21:21] #76 closed

[2017-06-19 09:54] dev-siberia opened #77 "Problem with page refresh"
Project: ResourceWithIdentityServerWithClient.
After updating the page, the authorization data is deleted in the browser.
Console message: User must be logged in before you can get the user data!
Please help my.

[2017-06-19 10:40] damienbod commented on #77
Hi @dev-siberia  seems to be something wrong with the server routing, I'll have a look.

[2017-06-20 05:01] dev-siberia commented on #77
Hi @damienbod!
I found one solution. UserData was not saved in the SessionStorage. Added the SetUserData method to the file oidc.security.service.ts

[code]
[code]
index.html file modify <base href="./"> to <base href="/">

navigation.component.ts method load add if (userData) {

[code]

and modify constructor
[code]

And it works) Now I can refresh the page as many times as I want.

[2017-06-26 07:38] chinkan opened #78 "Can I use this library with CanActivate Guard?"
I am writing a asp.net core application with angular. I just use CanActivate to keep away the unauthorized user to the protected page. Here is my code:

[code]

However, the function `this.securityService.getUserData();` always return null even user has logged to the identityserver. How could I use the CanActivate with identityserver? Thanks!

Sorry for my English!

[2017-06-26 08:00] damienbod commented on #78
@chinkan hi you could used te userdata event. The user data is only returned after a server request. Until then, no data is returned. The event is called after a successfully authorization callback.

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/auth/services/oidc.security.service.ts#L20

You should call the  this.securityService

[2017-06-26 08:21] chinkan commented on #78
Hi @damienbod, Thanks for your reply, could I done this without login component. I want to the the application which must be login show that I want to make the application auto redirect to the identityserver if user logged in or show the login form from identityserver. User thus no need to click login button for logging in to the system. Thanks again!

[2017-06-26 08:27] damienbod commented on #78
No problem as long as you handle the authoriseCallback. Once this is ok, the userData is requested from the server. After the response, the userData function returns data. The event is triggered on a response event.

[2017-06-26 08:40] chinkan commented on #78
Hi @damienbod , Just follow your instruction, I have updated the grand.services.ts to this

[code]
and I then added `this.securityService.authorizedCallback();` and `this.securityService.authorize();` to app.component.ts like this:

[code]

It can show the login form in the first time, however it will keep redirect after submit the login form.
Also I had subscribed the onUserDataLoaded event but n

[2017-06-27 01:28] chinkan commented on #78
Hi @damienbod ,

I have solved the issue, just put the `this.securityService.authorize();` to the else case of `if (window.location.hash)` and work perfectly! Many thanks for your help and have a nice day! :)

[code]

[2017-06-27 01:52] chinkan commented on #78
Oh, just a bit try, I sometimes got the url to be "undefined?response_type=id_token%20token&client_id=" at the function createAuthorizeUrl in oidc.security.service.ts when I call `this.securityService.authorizedCallback();
`, It seem to be auth well known endpoint not yet loaded and the authorization_endpoint become undefined. How can I prevent this issue? Thanks!

[2017-06-27 02:20] damienbod commented on #78
The discovery is loaded when then AuthWellKnownEndpoints constructor is call, round trip. Until this is finished, the urls are not available. I'll add a check for this.  If your using the src code, you could add this to the AuthWellKnownEndpoints  class and use it before you call the authorize function.

I'll fix this, this week. Thanks for reporting.

[2017-06-27 02:33] chinkan commented on #78
Hi @damienbod , Thanks for your help! I just added onWellKnownEndpointLoaded EventEmitter and also add a isLoading flag in AuthWellKnownEndpoints to ensure it finished loading. But I don't know whether this modify is good or not. I will waiting for your updates. Thanks again for your help and have a nice day! :)

[2017-06-27 05:17] damienbod commented on #78
OK, I'll try to do it today

[2017-06-28 04:32] chinkan commented on #77
I had that issue also, I just modify oidc.security.user-services.ts:
[code]
and it work now.

[2017-06-28 15:22] damienbod commented on #78
@chinkan This now works, you can user the event
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/auth/services/auth.well-known-endpoints.ts#L15

Greetings Damien

[2017-06-28 15:22] #72 closed

[2017-06-28 15:23] damienbod commented on #49
done, see https://github.com/damienbod/angular-auth-oidc-client

[2017-06-28 15:23] #49 closed

[2017-06-29 12:19] InDieTasten opened #79 "oidc silent-renewal and check-session stop after page refresh"
The `oidc.security.silent-renew.ts` and `oidc.security.check-session` initializers are called only from authorization callback. But we store authorization data in local storage, so when we refresh, we don't want to do a roundtrip using `authorize()` just so those two iframes are created again.

I've got a messy workaround for both problems now, but this really seems like a flaw in the current impl

[2017-06-29 12:23] InDieTasten opened #80 "oidc silent-renew unnecessary decoding of tokens in loop"
Current implementation of the silent-renew decodes the id_token every 3 seconds to parse the expiration claim and check it against the clock to see, if we have to silently renew the token with our iframe.

Why don't we parse the id_token expiration once, and set a timeout to exactly a configurable number of seconds before expiry?

Then we only decode it once, we have one fewer 3 second loop, and w

[2017-06-29 12:25] InDieTasten opened #81 "oidc silent-renew only checks for id_token"
In the current implementation, the silent-renew only checks the expiration of the id_token, which might have a significantly greater lifetime than access_tokens. The silent-renew should renew in cases of either of them running out of lifetime. This way, the RP can ensure, that they always have a valid id_token AND a valid access_token.

[2017-06-29 12:28] InDieTasten commented on #81
For renewing the access_token while we have a valid id_token, the implementation should also include `prompt=none&id_token_hint=...` to gather new access tokens?

[2017-06-29 12:30] damienbod commented on #80
good idea,

Also I would renew only every 5 minutes

[2017-06-29 12:32] damienbod commented on #81
doesn't need this, but it should be possible

[2017-06-29 12:33] damienbod commented on #79
thanks, will fix, also have a separate bug opened for this

[2017-06-29 12:33] damienbod commented on #79
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/issues/77

[2017-06-29 12:59] damienbod commented on #79
@InDieTasten thanks for the issues, if you want to fix any of these, I accept pull requests and would be very grateful. Otherwise I will do it as soon as I get time.

Also, all fixes here get added to the npm lib:

 https://github.com/damienbod/angular-auth-oidc-client

If you want, you can get involved.

Greetings Damien

[2017-06-29 14:17] InDieTasten commented on #79
@damienbod I will have to ask my manager, whether I'm allowed to invest time into that. I will inform you about that decision once it's done.

Greetings Max

[2017-06-29 14:35] InDieTasten opened #82 "light-weight copy-paste callback handler script for iframe callbacks"
When implementing the oidc client in SPA environments, the silent-renew of id_tokens will load the entire app inside the iframe. It would be very convenient for consumers of this oidc client to be able to specify a second return url in the configuration for renewal of tokens to a second html document with just a small script to update the authorization data for the spa in the parent.

[2017-07-05 22:52] nukec commented on #64
Any info on this?

[2017-07-05 23:00] nukec opened #83 "Oidc-client"
As I understand you implemented your own version of oidc client to communicate with IDsrv4?

I am trying to implement silent sign in from here: https://github.com/IdentityModel/oidc-client-js/wiki

but that means I have to use oidc-client.js library. How do you combine this together with your example?

[2017-07-06 03:02] damienbod commented on #83
This example implements the OIDC client in Angular. It supports SSO. If you use oidc-client.js, you can remove the complete auth.module from the application and add the oidc-client.js instead.

[2017-07-06 03:06] damienbod commented on #83
this.oidcSecurityService.setStorage(cookieStorage);

[2017-07-06 07:40] nukec commented on #83
@damienbod thanks. I am trying to implement silent sign in after user creates account(automatic logged in after creation) with your code, but I seem to not have option if i don't use IDsvr5 oidc-client.js ?

My question is here: https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/issues/64

[2017-07-07 16:07] InDieTasten commented on #79
Ok, it's now very likely that my company is going to open an organization account here on GitHub. It will take some time though until I am actually allowed to start working on this.

Regards

[2017-07-13 13:05] Brammii opened #84 "public or private OidcSecurityService"
When the OidcSecurityService is injected into a constructor of a component, the public access specifier is used.
``
constructor(public securityService: OidcSecurityService)
``

[AngularClient app.component.ts ](https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/angularApp/app/app.component.ts)

In another project that I’m following, eShopOnContainer

[2017-07-13 13:46] damienbod commented on #84
I like your approach better, because the template has now dependencies then to the service. I only made it public to use the bool in the template, which is not very nice. I like your solution. If you want you can create a pull request and I add it, otherwise I'll  update.

Thanks for the issue

Greetings Damien

[2017-07-15 08:13] damienbod commented on #79
@InDieTasten This has been refactored now, the iframe are no longer only called, or called many times in the auth calback. Still longs the whole app though

[2017-07-15 08:16] damienbod commented on #64
This should work.

Greetings Damien

[2017-07-15 08:16] #64 closed

[2017-07-17 11:00] nukec commented on #64
@damienbod any example of how to enable this to work?

[2017-07-21 16:01] damienbod commented on #84
This have been refactored now.

[2017-07-21 16:01] #84 closed

[2017-07-21 16:02] damienbod commented on #79
fixed
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/master/src/AngularClient/angularApp/app/auth

[2017-07-21 16:02] #79 closed

[2017-07-21 16:03] damienbod commented on #77
fixed:
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/tree/master/src/AngularClient/angularApp/app/auth

[2017-07-21 16:03] #77 closed

[2017-07-21 16:07] damienbod commented on #83
SSO working with this client, Greetings Damien

[2017-07-21 16:07] #83 closed

[2017-07-21 16:08] #60 closed

[2017-07-21 16:08] #56 closed

[2017-07-23 14:03] hmheng opened #85 "Unable to build and run the AngularClient project in VS2017"
![image](https://user-images.githubusercontent.com/11830387/28499911-b7be9f6c-6ff2-11e7-8a43-48beeff4b770.png)

run with Ctrl + F5, it works but without debugging and it stucks at "Loading..." screen forever.

[2017-07-24 07:53] damienbod commented on #85
Hi @hmheng You need to build the Angular application.

Try from the command first:

npm install
npm run build-dev

Visual Studio requires the node tools and that the right version is being used.

Greetings Damien

[2017-08-01 04:12] jbloem9 opened #86 "getIsAuthorized() is never true."
When logging in identity server is called and credentials are entered ,after returning from ids user is never set as authorized(.getIsAuthorized() always returns false).
.getToken() is always blank
[user.service.txt](https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/files/1189483/user.service.txt)
setupModule:
constructor(public oidcSecurityService: OidcSecurityService) {

[2017-08-01 07:01] MovGP0 commented on #86
what URL/Headers do you get back from the server?

[2017-08-04 00:08] jbloem9 commented on #86
When the application loads we have the following in the console, see
![loginstart](https://user-images.githubusercontent.com/7578265/28948280-baba2974-7908-11e7-9252-3bc443307dc5.PNG)

Then I was getting the same issue as angular-auth-oidc-client issue number #50.  Implemented the changes suggested viz implemented the subscription to onModuleSetup before calling authorize.  However now the issues

[2017-08-04 07:37] MovGP0 commented on #86
the TLS (aka SSL) certificate is not valid

[2017-08-04 07:42] MovGP0 commented on #86
use this to create your test keys; you only need to replace the „mydomain“, folders and the passwords with something of your own:
[code]

[2017-08-07 03:15] jbloem9 opened #87 "Silent Renew gives error after 10 minutes"
When logging in identity server is called and credentials are entered.  User is successfully logged in. There are no errors in the console.
After 10 minutes of inactivity, there is an issue as attached, and the silent renew keeps running (see attached). When making any api calls after that the system returns a 401.

![error](https://user-images.githubusercontent.com/7578265/29010914-0ed310bc-7b83-

[2017-08-07 03:16] jbloem9 commented on #86
This issue is now resolved.  Many thanks to all who replied to this issue. I am facing another issue which I have logged #87, around the silent renew giving an error after 10 minutes..

[2017-08-07 03:16] #86 closed

[2017-08-07 16:30] damienbod commented on #87
Is this the first silent renew request?  looks like CORS needs to be activated for this request in the iframe

[2017-08-10 08:20] damienbod opened #88 "Update ASP.NET Core 2.0"

[2017-08-11 10:41] damienbod commented on #85
@hmheng I'm closing this, let me know, if this is still an issue

Greetings Damien

[2017-08-11 10:41] #85 closed

[2017-08-11 10:43] damienbod commented on #78
yes

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/ResourceWithIdentityServerWithClient/angularApp/app/guards/hasAdminRoleAuthenticationGuard.ts

[2017-08-11 10:43] #78 closed

[2017-08-11 10:45] damienbod commented on #63
but think about round trips and performance

[2017-08-11 10:45] #63 closed

[2017-08-11 10:45] #57 closed

[2017-08-11 10:46] #53 closed

[2017-08-11 10:47] damienbod commented on #43
closing this, please reopen if it is stillan issue

[2017-08-11 10:47] #43 closed

[2017-08-11 10:48] damienbod commented on #87
Is this still a problem?

[2017-08-11 10:50] damienbod commented on #81
This is now possible with the custom params in the authorize URL. The access_token is validated as per OIDC. The resource server validates the access_token.

[2017-08-11 13:04] InDieTasten commented on #81
Did you already update this repository? According to https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/d2b09394895328e6c7a6c02a1eb98d5309dc774d/src/AngularClientIdTokenOnly/angularApp/app/auth/services/oidc.security.service.ts#L492

there still is no check for the access_token to have expired.

[2017-08-11 13:10] damienbod commented on #81
Hi @InDieTasten The client API validates that the access_token is valid using the id_token (not expired). The access_token is onl required by the APIs, which are responsible for validating that the access_token expired property. I don't see why the client API needs to vlidate this.

opinion?

[2017-08-11 13:38] InDieTasten commented on #81
Imagine having a client, identity server and an API. Now, there's a good chance, that your id_token stored on the client is expiring. This is covered by your implementation. In this process it also refetches an access_token. But an access_token can have a significantly shorter lifetime than an id_token. So as soon as the access_token expires, the client would start to send expired bearer tokens to

[2017-08-11 16:26] jbloem9 commented on #87
I ran my solution without any changes and did not get this error but the
silent renew is not working as I am getting 401 errors for any api calls. I
need to sit with the developer at our company who implemented this
originally. Will give you an answer next week.

On 11 Aug 2017 22:48, "damienbod" <notifications@github.com> wrote:

[2017-08-12 03:12] damienbod commented on #81
Using the id_token token flow, you should not need to get new access_tokens. If the access_token expires before the id_token, I consider this a configuration bug.

Using the id_token flow, I would not use access_tokens...

So I don't see a use case per default.

You example is possible though...

We could begin the silent renew when either token expires, but per default it is not used. This can th

[2017-08-14 01:59] jbloem9 commented on #87
When running the solution initially there are no errors and the silent renew works, running every 5 or 6 minutes without any issues.  Then after about 30 minutes, the silent renew gets stuck and stays in a state of
 "running" all the time.  The console has errors.
![appdata](https://user-images.githubusercontent.com/7578265/29255788-d3c4b37e-80f8-11e7-8e7c-0b5baadf3237.PNG)
![consoleerror](https:/

[2017-08-14 02:34] jbloem9 commented on #87
I have upgraded to 1.3.8 and still got the same error.

[2017-08-14 05:12] damienbod commented on #87
@jbloem9 Culd your try changing your X-Frame-options on your server? You're also using http, is this a demo app?

Greetings Damien

[2017-08-14 07:50] InDieTasten commented on #81
Hm... maybe I've been misunderstanding the flow. I was thinking, that one would have id_tokens with long lifetimes, which can then be used to obtain short-lived access_tokens, thus enable more rapid granting/revoking of persmissions without having to make roundtrips or iframes to update access tokens.
Just a regular ajax call permitted by CORS for just the configured clients urls and the id_token_

[2017-08-14 22:01] jbloem9 commented on #87
I will look into the X-Frame server options and let you know. This is an app we are developing for online auctions.  This is the STS:-

export const environment = {
    production: false,
    stsServer: 'https://localhost:44345',
    redirect_url: 'http://localhost:4200',
    post_logout_redirect_uri: 'http://localhost:4200',
    well_known_config_url:'https://localhost:44345/.well-known/openid-co

[2017-08-15 06:02] damienbod commented on #87
Hi @jbloem9 Just one other thing, you should not mix https and http

Greetings Damien

[2017-08-16 05:02] jbloem9 commented on #87
Hi Damien.

I have set the server to allow X-frames;
services.AddMvc();    services.AddAntiforgery(p => p.SuppressXFrameOptionsHeader = false);

I have changed the system to run using https only.

In addition I have also set "AllowOfflineAccess" to true on the identity server settings.
 "Clients": [
    {
      "ClientId": "AuctionX.Web.Ui.Client.Ng",
      "ClientName": "Auction X web application

[2017-08-16 05:15] damienbod commented on #87
Does it fail at the first renew, of after n?

[2017-08-16 06:22] jbloem9 commented on #87
It's not the first renew. The renew runs for about 5 or 6 times without any
issues or errors in the console and then it fails. This is usually after
about 30 minutes.

On 16 Aug 2017 17:15, "damienbod" <notifications@github.com> wrote:

[2017-08-20 23:58] jbloem9 commented on #87
Hi Damien.  I have attached 2 logs. One from the console and one from identity server.  Both logs show log entries where the silent renew is working and then at the point where it breaks.
[ids-Silent renew.txt](https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/files/1237438/ids-Silent.renew.txt)
[localhost-1503270417167.txt](https://github.com/damienbod/AspNet5IdentityServerAng

[2017-08-21 04:15] damienbod commented on #87
Looks like the Identity session on the IdentityServer4 timed out.

[2017-08-30 02:47] CangPham opened #89 "Should keep login status when user open new tab"
When I login success with app then I try to open new tab with my app I must call login again.
No option to remember user login

[2017-09-01 01:29] jbloem9 commented on #87
Hi Damien.  After upgrading to version 1.3.12 of the angular-auth-oidc-client and implementing changes as suggested for Issue Number #71 in angular-auth-oidc-client , this no longer gives an error.

However the silent renew is running continually. Once the silent renew starts, it seems to be stuck in an endless loop, being called over and over again, instead of just running every 5 minutes.

Below

[2017-09-05 13:44] naveedahmed1 commented on #88
Any update on this?

[2017-09-05 14:16] damienbod commented on #88
Have to wait for IdentityServer4 to update, and it's sub packages

[2017-09-05 18:32] MovGP0 commented on #88
ID4 itself doesn't seem to be the issue (it works fine with .NET Core 2.0). However, there are some Microsoft package dependencies that are not updated yet.

[2017-09-05 18:47] damienbod commented on #88
@MovGP0 yep.

[2017-09-14 02:15] RGVGreatCoder commented on #86
Hello. I too gets isAuthorized false every time it returns from successfully authenticating with my IDP (ASPNET Core 1.1/IdentityServer4).  Both, my IDP and Client (ASPNET MVC/Core 2.0/Angular2 from the template which I later upgrade to 4.3.6 to make use of HttpClient) are using HTTPS in my development box, provided by Visual Studio 2017 or IIS Express. Chrome does not seem to complain about such

[2017-09-14 04:56] damienbod commented on #86
This usually happens when something is incorrect with the request for Authorization. You can check the F12 console logs in the client browser for the reason. You could also check the logs on hte STS server to see why it was rejected.

Greetings Damien

[2017-09-14 15:00] RGVGreatCoder commented on #86
Thank you for your immediate response! 👍
Well, I don't know where in the debug console log from Visual Studio 2017 says the authentication failed or is incorrect. Could the following pieces of the log (where IDP is InsXIdentity and Client is InsxAngularOidcClient) indicate the authentication went rather successfully?:

    InsXIdentity > info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
    I

[2017-09-14 19:25] RGVGreatCoder commented on #86
FIXED!. :) I had commented (yep, smart me) the doCallbaclLogicIfRequired() function because I was having issues with executing "window.location.hash" when trying to run my code for the first time (not knowing what that function did). I removed the comments and yep, it worked. .. :)

I am now facing another issue (when executing this.oidcSecurityService.logoff()) it calls the IDP logout Controller

[2017-09-14 21:32] RGVGreatCoder opened #90 "logoff() runs GET "account/logout" from IDP and receives 404 response"
Executing OidcSecurityService.logoff() from my client (ASPNET MVC Core 2.0 Angular 4.3.6) ends up making this **Get** Request to my IDP (ASPNET MVC Core 1.1.2/IdentityServer4 1.5.2): "https://localhost:44333/account/logout?logoutId=ab01767bb9e09988434df8a7bc32e260". My IDP has only one "account/logout" and is a **Post** method. The debug output log shows a 404 response code.

The client setupModul

[2017-09-15 10:00] damienbod commented on #88
TODO:
- fix otherLogins in ManageController
- secure files API download file bug
- API token validation

[2017-09-15 11:31] damienbod commented on #90
It could/should redirect back to your client which logged in, At present , you need to click a link in the view. This could be removed. I look at this fully, after I update to .NET Core 2.0

[2017-09-15 14:24] RGVGreatCoder commented on #90
Thank you again for your prompt response! 👍 .. :)

Sorry to ask but, what do you mean by "click a link in the view"? What view? Could you please elaborate on this view you mention? :-\

By the way, I created another client with ASPNET MVC Core 1.1.2/Angular 4.3.6 and it behaves the same.

The issue here, I believe, is that my IDP does not have a logout method to be called with an HTTP GET request,

[2017-09-15 15:47] damienbod commented on #88
updated, that took long :)

[2017-09-15 15:47] #88 closed

[2017-09-18 14:31] nukec opened #91 "Support to login silently without being redirected to identity server"
I am still struggling with this.

Is there any way we can pass username and password to Identity server authorisation endpoint silently in background without user being redirected to identity server website with Grant Type Implicit? Something like client credentials grant type but implicit. I read silent signin is possible, but not sure if implemented in this example? Can you show example damien?

[2017-09-19 14:13] RGVGreatCoder opened #92 "Sample Using HttpClient with HttpInterceptor"
Hello damienbod. This post is not an issue. I am posting this sample code to share in your blog using HttpClient with HttpInterceptor as a way of thanking you with a small contribution from me, for sharing your library. I am basing my code from what I learned on this page: https://medium.com/@ryanchenkie_40935/angular-authentication-using-the-http-client-and-http-interceptors-2f9d1540eb8.  I hope

[2017-09-19 14:40] damienbod commented on #92
@RGVGreatCoder thanks

I'll update this, was meaning to switch to the new http clinet for a while. If you want, you can create a PR and I'll merge it, otherwise update using your code.

Thanks Damien

[2017-09-19 22:45] RGVGreatCoder commented on #90
Hello Damienbod. Do you have any new comments from this issue I posted some days ago? :)

[2017-09-25 07:01] phamquanghung263 opened #93 "Changes in code not updating"
Hi, I'm using VS2017 to debug.
When I change some codes (TS or html template), then F5, it was not updated. I must run npm build cmd to get the changes.
So, how to fix it.
Thanks.

[2017-09-25 10:37] damienbod commented on #93
Hi @phamquanghung263

You can use the npm watch

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/AngularClient/package.json#L18

If xyou install the npm task runner in VS, this will run automatically

Greetings Damien

[2017-09-25 15:03] phamquanghung263 commented on #93
Thank you mr @damienbod.
I've seen my problem in task runner's console. It's cause of the Visual's Node module version not same as my global version. So I just update Visual's Node version and  the changes are updated (when I re-debug visual).
I've another question, when i make changes in html template file, how to only refresh browser (not stop and start debug) to take the changes?
Thanks.

[2017-10-02 06:30] ChinhDuong opened #94 "Uncaught SyntaxError: Unexpected identifier"
I get Uncaught SyntaxError: Unexpected identifier when run AngularClient. Can anyone help me to fix it. Thank in advance
![image](https://user-images.githubusercontent.com/12442221/31066257-d4dcf02a-a775-11e7-95c8-149c813e2045.png)

[2017-10-02 07:20] damienbod commented on #94
Hi @ChinhDuong  the SPA application is not build

cmd:

npm install
npm run build-dev

or install the npm task runner in VS

Greetings Damien

[2017-10-02 08:05] ChinhDuong commented on #94
Thank you so much

[2017-10-02 08:05] #94 closed

[2017-10-09 15:08] nukec commented on #91
Is this planned to be implemented? UserManager.signinSilent()

[2017-10-09 21:25] MovGP0 commented on #91
take a look at the [Resource Owner Password Grant](http://docs.identityserver.io/en/release/quickstarts/2_resource_owner_passwords.html).

[2017-10-10 15:39] nukec commented on #91
@MovGP0 I am not confident about security of that grant type. There is an option to do it with Implicit flow with usage of signInSilent after registration process is done, but no examples.

[2017-10-19 14:37] klanglie opened #95 "VS 2017 Issue"
I have tried running the latest code and VS 2017 hangs. So I copied the server code and changed it to use Sql Server. I also copied the client code and bolted it to my app. I was originally going to use OpenIddict.

https://github.com/klanglie/OpenUpdate (You can take a look at these two projects: SPA + Identity). The SPA project I am running from VS Code. No SSL. Is this required or can I disable

[2017-10-19 22:00] klanglie commented on #95
I made some changes and noticed bad console output. I don't think I checked console before. But it is likely same bug returned from IS4 callback:

main.bundle.js:2300 ERROR SyntaxError: Unexpected token ( in JSON at position 1
    at Object.parse (<anonymous>)
    at OidcSecurityValidation.getPayloadFromToken (http://localhost:3000/main.bundle.js:81835:25)
    at SafeSubscriber._next (http://local

[2017-11-09 20:53] DooMachine commented on #86
I set storage as localStorage and can login perfectly first time. But when I open a new tab, getIsAuthorized returns false even it is true on localStorage.

[2017-12-24 11:32] lanovoy opened #96 "Angular 5.1.0 and TypeScript 2.6"
Angular 5.1.0 does NOT support this version of the typescript yet. The last one they support is 2.5.3

[2017-12-24 15:40] damienbod commented on #96
Will downgrade typescript, was hoping that it would support this soon. This needs to be changed in the package.json file.

Thanks for reporting

Greetins Damian

[2017-12-24 17:57] lanovoy commented on #96
Don't forget about the lock file. The actual version is in the package-lock.json.

[2017-12-31 09:52] damienbod commented on #96
fixed, thanks for reporting

[2017-12-31 09:52] #96 closed

[2018-01-06 13:54] mabouchalkha opened #97 "User Registration"
Hi,
thank you for this sample.
i don't know if you can help me.
i want to implement a user registration in the SPA application because isn't related to Identity Server (i don't want to be the responsibility of identityServer). So my problem is i just I can not use UserManager (IdentityDbContext) of IdentityServer to create a user in the API (ResourceServer).
do you have any idea.

thank you

[2018-01-06 19:10] damienbod commented on #97
@mabouchalkha
´´´
private readonly UserManager<ApplicationUser> _userManager;

public Class_XXXXX(UserManager<ApplicationUser> userManager)
{
	_userManager = userManager;
}

method:

var user = new ApplicationUser { UserName = email, Email = email };

var result = await _userManager.CreateAsync(user);
´´´

[2018-01-07 16:41] mabouchalkha commented on #97
hi, thank you for youe quick response.

I did that but when i add

`services.AddIdentity<ApplicationUser, IdentityRole>().AddEntityFrameworkStores<ApplicationDbContext>().AddDefaultTokenProviders();`

the api doesn't return 401 but it redirect to account/login?returnUrl instead.

thabnk you

[2018-01-30 10:33] ciptoj opened #99 "Always redirecting to home/error?ID=Cfxx"
Hi,
I've been trying to run your angular sample againts an STS server.
it always return like below:

http://localhost:5000/home/error?errorId=CfDJ8JRHHENUop1CkG69fGdjEpCAvdr3WWCE2-L4G3vclNSrsI5r4OKd_3jDBTmlSSD1AGCQFEAx-vtt7LQ7Vd_go6v45HvK9N17jJk6UYft3hX_uDx5XqH5dE2dw7u5vG9dO_xFszJKJI2ZA-q_FIGPukA4c20v69I7UZGZolBjNx3hQF-o4gJNv5bwng23ezM9Y5s8kpn406Y-weWKJxwWKQ75n4fnREQU9ZhSMV6v1CMwLmnjfsQChTo0sPaOh-

[2018-02-16 22:43] juniormayhe opened #100 "Documentation"
Ce serait bien d'avoir des fichiers readme.md pour documenter chaque projet.

Il y a beaucoup de projets mais nous ne sommes pas sûrs de ce que chacun fait.

[2018-02-24 21:03] lanovoy commented on #91
The only proper option for browser apps is to use Implicit Grant flow.

[2018-02-26 06:15] MovGP0 commented on #100
@juniormayhe Nous sommes des développeurs. l'anglais est la lingua franca ici…

Translation of the above statement:

[2018-03-05 14:11] klanglie opened #101 "This is server routing, not angular2 routing"
Probably something simple I am missing here. Trying to figure out why the AngularClient app is not loading. I'll update if I figure this out.

[2018-03-06 13:53] klanglie commented on #101
A temporary fix is to hard code webpack.config.js

module.exports = function(env) {
  //return require(`./config/webpack.${env}.js`)
    return require(`./config/webpack.dev.js`)
}

Otherwise env is undefined. Does anyone know why env is not being passed in correctly?

[2018-03-06 18:36] klanglie commented on #95
Got past this...

[2018-03-06 18:36] #95 closed

[2018-03-20 21:15] damienbod commented on #82
added

[2018-03-20 21:15] #82 closed

[2018-03-29 08:05] hemiaoio commented on #101
Did you installed [NPMTaskRunner](https://marketplace.visualstudio.com/items?itemName=MadsKristensen.NPMTaskRunner)?

[2018-04-04 07:36] feco93 opened #102 "Unhandled exception in authentication"
**Project**: ResourceWithIdentityServerWithClient

**Steps to reproduce:**
Install dependencies.
Run project in debug mode.
Register new account.

**Actual behaviour:**
InvalidOperationException: No authentication handler is configured to authenticate for the scheme: Identity.Application

**Stacktrace:**

Microsoft.AspNetCore.Http.Authentication.Internal.DefaultAuthenticationManager+<GetAuthentica

[2018-04-04 14:55] #102 closed

[2018-04-11 10:39] Simplist9 commented on #101
The temporary fix does not work for me.. @damienbod if you have time, can you look into the issue, please?
Thank you.

[2018-04-11 15:00] damienbod commented on #101
@Simplist9

Does the angular app build?

Try this from the command line
Open the Angular project folder when the csproj file is.

and try it again, sometimes the tools don't work inside VS, or aren't installed.

[2018-04-11 16:16] Simplist9 commented on #101
@damienbod
Indeed, when i ran "npm run build-dev" inside the project file it worked.
Thank you very much!

[2018-06-12 19:17] klanglie commented on #101
I just went through this again on another machine. I installed _NPM Task Runner v1.4.8.1.visix_, _yarn-1.7.0.msi_ and _webpack/webpack-cli_ globally. It is now running. It might be helpful to add setup instructions to the Readme file. Great example btw. Thanks so much!

[2018-07-12 22:55] kludgeDan opened #104 "Auto Redirect to ID Server if not logged in"
Hello,

In my use case I have an angular web app that is using the ID server's login via implicit flow. I wanted to auto-redirect them to the id server for login if they have not logged in. I tried adding a condition based on oidcSecurityService.getIsAuthorized() in my app.component.ts file in ngOnInit and if this was false I would call oidcSecurityService.authorize(). This seems to be checking to

[2018-07-12 22:59] #104 closed

[2018-07-12 22:59] kludgeDan commented on #104
I found a similar question that I have in the oidc client. It seems to be related to the token validation. Ill take a look at that one instead.

[2018-07-20 15:11] khennny commented on #87
Hello, I also have this issue. STS server is Identity server 4.After successful login,the silent renew call keeps running in infinite loop.I changed my client config to point to Google and I was able to login and no infinite silent renew running.
Any help would be greatly appreciated.

[2018-07-23 09:41] #101 closed

[2018-07-23 09:42] damienbod commented on #99
@ciptoj Did you resolve this?

Greetings Damien

[2018-07-23 09:44] damienbod commented on #87
@khennny Does the google OIDC support silent renew? The google OIDC does not of all the OpenID Connectg apis.

Greetings Damien

[2018-07-23 09:52] ciptoj commented on #99
Think so

On Mon, 23 Jul 2018 at 16.42 damienbod <notifications@github.com> wrote:

--
Regards,

(Cipto)
Mobile: +6281808557858

[2018-07-23 09:58] #99 closed

[2018-07-24 10:09] khennny commented on #87
It seems the problem was with the cookie configuration on identity server 4 hosting project. By default the "CookiePolicyOptions.CheckConsentNeeded" is set to true, I changed it to false and the silent renew infinite loop was gone and was able to generate new token.

 services.Configure<CookiePolicyOptions>(options =>
            {
                options.CheckConsentNeeded = context => false;

[2018-07-27 09:42] bhaidar opened #105 "How to run the application?"
Hi,
I have both VS Code and VS 2017.

How to run the code and test the application? I put AngularClient and StsServerIdentity to run. But the Sts project defines the client with IP of the ASP.NET Core app and not the Angular app.

I am a bit confused on how to run the apps?

[2018-07-27 09:50] damienbod commented on #105
Hi @bhaidar

You need to build the angular app and and the APIs

Use npm to install the npm packages for the Angular client project. Then do an angular build, npm run build-dev, then build the .NET Core solution.

Start the 2 APIs, the STS server, and the Angular client. When you run it first, it should ask you the trust the iis express certs, and then it runs.

Greetings Damien

[2018-07-27 10:37] bhaidar commented on #105
Hi @damienbod
Perfect!

Let me summarize the steps here in case someone else faced the problem.

- Follow the instructions on the `README.md` file to restore .NET packages and do the migrations.
- Build the entire solution in Visual Studio
- From the command line, run `npm run build-env` to build the code and generate bundles
- Then simple configure Visual Studio to run multiple projects including

[2018-07-27 13:09] damienbod commented on #105
@bhaidar thanks

[2018-07-27 19:46] bhaidar commented on #105
@damienbod
Thanks. So basically I either make use of EV or provide a simple string for the ConnectionString for example. Correct?

[2018-07-29 00:34] Arpanx opened #106 "How assign/manage User Claim from AspNetUserClaims?"
I do not understand much about these issues, but there is a question.

Now the Claims is assign in the hard code in IdentityWithAdditionalClaimsProfileService: IProfileService
This discourages us from administering Claims
Whether it is possible to make somehow that the Claims & Role it was possible to appoint editing IdentityServer database?

Thanks for your example, very well let me understand ho

[2018-08-14 19:55] klanglie opened #107 "bower is old..."
Bower is going the way of the dinosaur. I recommend you replace it using bundleconfig.json. First you would install BuildBundlerMinifier by Mads Kristensen. Then add a package.json file.
{
  "version": "1.0.0",
  "name": "asp.net",
  "private": true,
  "devDependencies": {},
  "dependencies": {
    "bootstrap": "4.1.3",
    "jquery": "3.3.1",
    "jquery-validation": "1.17.0",
    "jquery-validati

[2018-08-15 05:08] damienbod commented on #107
@klanglie thanks for the suggestion. Yes  this really needs to be removed. I'll check this out, looks good the suggestion. Just wondering if using webpack would be better.

This looks good. Would you loike to do a PR?, otherwise I'll update to this suggestions.

Thanks

[2018-08-15 15:14] klanglie commented on #107
Sure. I have never did a PR to github. Give me a few days and I will give it a try. Then you can evaluate my solution. The changes I mentioned I applied to my own project that is based off of this one. Thanks for all your hard work!

[2018-08-15 17:05] damienbod commented on #107
I added a fix for 2FA today as well

[2018-08-17 16:47] klanglie commented on #106
Hi @Arpanx. I was able to do this. But it requires work on your end. The ProfileService is meant only as an example. Once you start playing around with the Microsoft.Identity schema and classes you too can tap into this. I wish I could show you an example. But my project is not public.

[2018-10-27 10:55] RafalDeveloper opened #113 "Add npm install and npm run build-dev in AngularClient.csproj when app is building"
When application is open in debug mode via VS2017 https://localhost:44311/ there is error SCRIPT1004: SCRIPT1004: Expected ';'

[2018-10-27 11:34] RafalDeveloper commented on #113
Ok. My mistake with use this solution correct.

I have to do this - open AngularClient
1. npm install
2. npm run build-dev
3. Multiple Projects start: AngularClient, ResourceFileServer, ResourceServer, StsServerIdentity
4. Debug in VS 2017

and it`s working but could be better do this in AngularClient.csproj I would like to admit this project is great. Damien thanks for you hard work.

[2018-10-29 15:49] arimaze opened #114 "Identity Server 4 hash passwors"
Dear,

I would like to enter a hashed password directly into database without going through register screen but i don't know what mecanism is used to hash password.

Does it hash username + password or email + password ? I didnt success to retrieve on the official documentation how does createsync method works.

Do you know which online tool can i use to hash password ?

Thank you very much.

[2018-10-31 06:19] damienbod commented on #114
@arimaze

The password hash is implemented using the ASP.NET Core Identity lib. See the Identity Docs for info on this

Greetings Damien

[2018-11-04 10:59] bmadhan90 opened #115 "Redirecting to unauthorized after logout from identity server using latest version"
After logout from angular client application, redirecting to unauthorized from identity server. This happen after updated to latest version "angular-auth-oidc-client@8.0.1" .

Note: On logout onAuthorizationResultComplete method emits unauthorized.

[2018-11-06 10:34] arimaze opened #116 "AuthorizationState:unauthorized validationResult:StatesDoNotMatch"
Dear,

I was able to implement openid but i have two questions :

1/First time if i try to access angular page without login, i see home page, and 1 seconde after, i see unauthorized page.

2/If i login and then attempt to access angular home page, i see home page, then 1/2 sec after unauthorized page ,and then i m redirecting to home page.

Is it possible to avoid those redirect mecanism ?

When

[2018-11-07 17:20] arimaze opened #117 "issue when login after going to angular unauthorized page"
Dear,

I m facing issue in a particular situation.

Step 1 : I login from  stsserver > ok
Step 2 : I go to angular page  > ok im authorized.
Step 3 : I logout. > ok
Step 4 : I try to access angular page and got unauthorized  >ok
Step 5 : I re login
Step 6 : I try to access angular page

i get unauthorized with below traces

AuthorizationGuard, canActivate
XHR finished loading: GET "https://localho

[2018-11-07 17:22] arimaze commented on #117
All is working well in other cases, i am well authorized  if i dont go to to see angular page after logout .

[2018-11-07 18:37] arimaze commented on #116
I fixed it by removing hash # in route

[2018-11-07 18:37] #116 closed

[2018-11-13 03:09] vejandla commented on #87
@jbloem9 did you find a solution for your problem?

[2018-11-26 23:29] saeidehv opened #118 "Internal Error message localization"
any recommendation for localization of error messages from UserManager like "the email is already taken"?

Thanks

[2018-11-27 07:18] damienbod commented on #118
oh... I forgot to localize all of these :)

The strings are localized in Identity, we just need to find the key, and add a translation to our resx files. The keys are defined in the Resources.resx class in the Microsoft.Extensions.Identity.Core

https://github.com/aspnet/Identity/blob/master/src/Core/Resources.resx

I will translate these as well in the next while, or if you do it, maybe you could

[2018-12-02 04:43] saeidehv commented on #118
Thank you for the quick response.
Now in
 private void AddErrors(IdentityResult result)
        {
            foreach (var error in result.Errors)
            {
                ModelState.AddModelError(string.Empty, error.Description);
            }
        }
we should add error.Code.

[2018-12-05 12:55] vella-nicholas opened #119 "Question: Implicit Flow"
We are developing an Angular application where we do not make direct API calls to a server but rather we will do routing from the load balancer (similar to HttpsProxyAgent). Do we still need to opt for Implicit Flow?

And just to clarify, there is no way to set a refresh token when opting for Implicit Flow, correct?

[2018-12-05 18:51] damienbod commented on #119
Not so sure I understand, but the OIDC implicit flow should be used if you are doing authentication; flow 'id_token'. The access token is not required if you do no API calls.

It is not possible to set a refresh token with this flow. The idea is that you use a silent renew to get the new tokens in a background task in an iframe. User does not notice anything here.

[2018-12-06 07:55] nvella88 commented on #119
I think I was not very clear. We are creating an Angular application requiring authentication. That means we must use implicit flow. So if I understand correctly, the silent renew is used to keep the user logged in.

In order to authorize the user, from calling restricted APIs, that is not related to the implicit flow, correct? I tend to confuse one and the other.

[2018-12-06 08:05] damienbod commented on #119
To call APIs you need to get an access token from the STS server. This is done as part of the OIDC Implicit Flow 'id_token token'. The access token is validated as part of this flow. You need to be sure that the access token is for you. Then you can used this access token to access the APIs. The silent renew refreshes both tokens. Don't forget to implement a good CSP header for you app as well.

T

[2018-12-06 09:38] nvella88 commented on #119
So to clarify, in the response, 'id_token' is the JWT token and 'token' is received as 'access_token' and 'token_type': "Bearer", correct?

[2018-12-28 11:31] athalius opened #120 "ShowRecoveryCodesViewModel localization"
The localization for ShowRecoveryViewModel is broken in general - none of the localizations exist for the variables you have in there.

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/StsServerIdentity/Views/Manage/ShowRecoveryCodes.cshtml

https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/StsServerIdentity/Resources/SharedR

[2018-12-28 11:32] athalius commented on #120
I'd fix it myself, but you've used several languages I dont know, and Im not sure if this stuff was autogenerated from google translate or not.

[2018-12-28 11:49] athalius opened #123 "ExternalLoginFailure localization of title"
https://github.com/damienbod/AspNet5IdentityServerAngularImplicitFlow/blob/master/src/StsServerIdentity/Views/Account/ExternalLoginFailure.cshtml doesnt have a localization for the title.

[2019-01-04 17:07] arimaze opened #126 "Webpack dev server high cpu and memory"
Hi,
I experience trouble debugging application espacially using debug mode i am always near 99%cpu used but if i remove webpack ton use angular json and ng serve all is ok

Do you have any idea why webpack dev sever take all cpu and memory ?

Br

[2019-01-05 17:39] damienbod commented on #126
HI @arimaze

No idea, I don't have this issue, would be interested if you see something.

Greetings Damien

[2019-01-05 17:42] damienbod commented on #123
Thanks for the PR, merged

[2019-01-05 17:42] #123 closed

[2019-01-05 17:44] damienbod commented on #120
@athalius I look at this, the translations are done by native speakers, not google, so these should be correct. I'll check this. Thanks for reporting

[2019-01-06 11:34] damienbod commented on #120
@athalius yep. these are missing... Thanks will start adding them

[2019-01-06 11:45] damienbod commented on #120
Added the placeholders, will start chasing the translations now

[2019-01-06 12:00] damienbod commented on #120
https://github.com/damienbod/IdentityServer4AspNetCoreIdentityTemplate/issues/46

[2019-01-06 12:48] damienbod commented on #119
@nvella88  yes, this is correct

[2019-01-06 12:58] damienbod commented on #118
This is ok, excpet for french, will update this when I get the translation, de and IT are complete.

[2019-01-06 12:58] #118 closed

[2019-01-13 23:36] workcontrolgit commented on #113
Thank you RafalDeveloper for spelling out the steps.  Just want to point out that I had to upgrade VS 2017 to version 15.9.5 in order to successfully run the Debug step 4.

[2019-03-01 13:44] arimaze opened #127 "How to send token from API to another"
Hi Damien,

We would like to improve solution sending access token from API 1 to another API 2.

So, Summary workflow will be : Identy server connection > Angular > API 1 > API 2.

Do you know how to retrieve access token into API 1 ? because i think we only have ID_TOKEN.

Thanks and best regards

[2019-03-01 15:29] damienbod commented on #127
Hi @arimaze when sending a token from one api to another api, you should create and new token and use this. This is a trusted API communicating with  a trusted API, ie, keep a secret.

Something like this would be good:

https://github.com/damienbod/AspNetCoreHybridFlowWithApi/blob/master/WebMVCClient/ApiService.cs

And you need to add this client to the STS client.
Client credentials flow

https:

[2019-03-19 06:40] saeidehv opened #128 "Single signon login form localization"
Hello,

We are using Identity server for Single signon and redirecting our users from CVent to our Identity server for authentication. I need to localized login page based on user IP address or set the locale as parameter in the Authentication URL link in CVent ( like :https://localhost:44323/Account/singlesignon?ui_locale=en-US") I do not know if I can do it.

Any recommendation for doing this?

[2019-03-19 12:56] damienbod commented on #128
Yes this should work now

You can set the ui_locales parameter depending on the IP

Greetings Damien

[2019-03-22 10:19] #119 closed

[2019-03-25 17:08] saeidehv commented on #128
Thanks

[2019-03-25 17:08] #128 closed

[2019-04-13 20:29] cossth opened #129 "Authorize Attribute with Roles Not Working for new JWT Tokens."
I am always unauthorised, Even if I am in Admin Role
[code]

[2019-04-23 13:25] CShelton11 opened #130 "License?"
Can you please define the license? Apache2 similar to the templates?

[2019-04-23 14:34] damienbod commented on #130
MIT, will do thanks for the pointer

[2019-05-14 16:31] CShelton11 opened #131 "Integration With Skoruba Admin"
I am attempting to use skoruba admin with this implementation of ids4.
Note - I previously used a version of this that only contained scopes api1, openid, and profile.

I have gone into the database that was seeded with that information and configured the ClientScope to contain 'roles', the ClientResource to contain 'roles' for that scope, and I have also gone into the AspNetUserClaims table and a

[2019-05-14 18:24] CShelton11 commented on #131
Hey figured it out.  Issue was when I had Identity Claim and Identity Resource with the same name.  It caused a serialization issue which resulted in the iteem being written to the token as a string instead of as an array.

[2019-05-14 18:24] #131 closed

[2019-09-20 13:23] #130 closed

[2019-09-20 13:24] damienbod commented on #129
hi @cossth missed this issue, hope you got it to work

Greetings Damien

[2019-09-20 13:24] #129 closed

[2019-09-20 13:24] #127 closed

[2019-09-20 13:24] #126 closed

[2019-09-20 13:25] #120 closed

[2019-09-20 13:25] #117 closed

[2019-09-20 13:25] #115 closed

[2019-09-20 13:25] #113 closed

[2019-09-20 13:25] #106 closed

[2019-09-20 13:25] #105 closed

[2019-09-20 13:26] #97 closed

[2019-09-20 13:26] #93 closed

[2019-09-20 13:26] #92 closed

[2019-09-20 13:26] #91 closed

[2019-09-20 13:26] #90 closed

[2019-09-20 13:26] #89 closed

[2019-09-20 13:27] #87 closed

[2019-09-20 13:27] #81 closed

[2019-09-20 13:27] #80 closed

[2019-09-20 13:27] #48 closed

[2019-09-20 13:27] #41 closed

[2019-09-20 13:27] #38 closed

[2019-09-20 13:27] #14 closed

[2019-09-20 13:27] #13 closed

[2019-09-20 13:27] #1 closed

[2019-10-06 15:03] klanglie opened #135 "Commit 22ae2223"
I noticed you moved app.UseRouting in Configure above UseAuthentication and UseAuthorization. When I do this for my API, I get a redirect url returned to my client.

I do AddAuthentication and AddAuthoriztaion in my API much like ResourceServer. So am not sure why this might be? Below works for me. Is this wrong?

I think it might be because I also reference Microsoft Identity: [Prevent redirect t

[2019-10-06 16:11] #135 closed

[2019-11-25 01:53] luxiaoli2002 opened #137 "the modules of "node-sass" can't be installed 。"
which python version for it ？ why I can't install the modules of "node-sass"

[2019-11-25 04:33] damienbod commented on #137
This should work, try installing directly with npm on the command line, what do it say?

Also what nodejs, npm do you use?

Greetings Damien

[2020-03-24 05:26] saeidehv opened #145 "samesite flag chrome issue"
Hello Damien,

I have downloaded the latest version and I am running the StsServerIdentity as just start up project,
and enabled the samesite flags of my chrome ( Enable removing SameSite=None cookies
 and Cookies without SameSite must be secure)
I registered a new user successfully but when I login, the user is not showing up as login.
The User is empty in the context.
If I turn off the flags eve

[2020-03-24 06:05] damienbod commented on #145
Hi @saeidehv

I added a fix for the antiForegy cookie. The rest seems to be good. Could you try again?

If it still is not ok, could you send me the F12 info about which cookie causes the problem. Maybe also try to delete the old cookies before the test

Greetings Damien

[2020-03-25 05:52] saeidehv commented on #145
Thank you Damien,
It is working now.

[2020-03-25 06:48] #145 closed

[2020-05-07 14:55] #137 closed

[2020-05-12 07:01] SVarasteh opened #151 "Silent Sign in"
Hi,
We are utilizing Identity Server 4 for authentication/authorization users in our application which is a spa web app. The client flow is implicit. Now we need to change our registration flow so users were not required to login following registration.
I found this link : https://benfoster.io/blog/identity-server-post-registration-sign-in
it is related to Identity Server 3 and I am not sure if I

[2020-07-22 21:08] mikol4j opened #159 "CodeFlow example"
Hi there,
I've found an issue in code flow (+pkce). After successful login in STS I cant reach securefile page. Angular says I am unauthorized.
"401: You have no rights to access this. Please Login"

[2020-07-23 06:40] #159 closed

[2020-07-23 06:40] mikol4j commented on #159
my fault, it works perfectly

[2021-02-27 19:07] weedkiller opened #166 "Checking against a mix of roles/claims"
Hello, this is simply amazing and its kept current love it 🤟🏾

I updated and for most of the code in Angular 11 I am able to check `*ngIf="isAuthenticated$ | async"` and single role with `*ngIf="hasAdminRole"` I followed your blog too... how do I check against a group/mix of roles and claims?

Also will it be the same with the new .NET core 6 coming or will it need to be modified since they have o

[2021-03-01 10:46] damienbod commented on #166
Hi @weedkiller thanks

I would just create a helper function in angular which can be used in the ngIf

Greetings Damien

[2021-03-01 16:12] weedkiller commented on #166
ok thanks @damienbod so could I pass it both roles and claims/policy in the same check `AccountingRole` and `AuditClaim`

[2021-03-01 16:12] #166 closed

[2021-03-14 08:24] ankan1811 opened #170 "sign in"

[2021-03-14 08:25] #170 closed

[2021-09-20 06:51] patanjalipos opened #175 "Angular App not running"
![Capture](https://user-images.githubusercontent.com/59948666/133965344-69807db2-8ed7-44fc-813d-b91e3b18a41a.PNG)

[2021-09-20 20:39] damienbod commented on #175
Guess you need an npm install and an npm run build

Greetings Damien

[2021-09-22 18:18] patanjalipos commented on #175
Hi Damien,
It seems to be not the case. Node modules are there. NPM build is happening as Task Runner is executing the command. The problem seems to be in "AngularClientImplicitFlow" angular project. It is running on port 8080. and VS is running on 44311. but its all APIs are being called from host 8080. Cross site scripting err
![Capture](https://user-images.githubusercontent.com/59948666/1343994

[2021-09-25 09:09] damienbod opened #176 "Move Angular projects to CLI"

[2022-04-08 11:13] hedgybeats opened #198 "Accidentally Opened Issue"

[2022-04-08 15:11] #198 closed, assigned to nobody